body {
  background-color: #fcfcfc;
  color: #161616;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  margin: 2em;
}

header,
main,
footer {
  font-size: 1em;
  max-width: 600px;
  width: 100%;
}

h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}