body {
  background-color: #fcfcfc;
  color: #161616;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 4em 10%;
}

header,
main,
footer {
  font-size: 1em;
  max-width: 600px;
  width: 100%;
}

h1, h2, h3 {
  font-weight: 700;
  margin-top: 2em;
  margin-bottom: .4em;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.2em;
}

p, ul {
  font-size: 1.1em;
  margin: 0;
  line-height: 1.4;
}

ul {
  padding-left: 0;
}

ul li {
  margin-bottom: .2em;
}

em {
  font-style: unset;
}

footer {
  margin-top: 4em;
}