#slide_OT_EU_PB_a_18_background {
    left: 0px;
    top: 0px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
    width: 1024.00px;
    height: 768.00px;
}

#slide_OT_EU_PB_a_18_layer_1 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_1.png?v=1029193756607);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 768.00px;
}

#slide_OT_EU_PB_a_18_layer_3 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_3.png?v=1029193756607);
    position: absolute;
    top: 309.00px;
    left: 270.00px;
    width: 511.00px;
    height: 157.50px;
}

#slide_OT_EU_PB_a_18_layer_4 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_4.png?v=1029193756607);
    position: absolute;
    top: 393.00px;
    left: 270.00px;
    width: 481.50px;
    height: 25.50px;
}

#slide_OT_EU_PB_a_18_layer_5 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_5.png?v=1029193756607);
    position: absolute;
    top: 389.00px;
    left: 270.00px;
    width: 481.50px;
    height: 32.00px;
}

#slide_OT_EU_PB_a_18_layer_6 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_6.png?v=1029193756607);
    position: absolute;
    top: 389.00px;
    left: 270.00px;
    width: 481.50px;
    height: 32.00px;
}

#slide_OT_EU_PB_a_18_layer_7 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_7.png?v=1029193756607);
    position: absolute;
    top: 367.50px;
    left: 270.00px;
    width: 481.50px;
    height: 53.50px;
}

#slide_OT_EU_PB_a_18_layer_8 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_8.png?v=1029193756607);
    position: absolute;
    top: 344.50px;
    left: 270.00px;
    width: 481.50px;
    height: 76.50px;
}

#slide_OT_EU_PB_a_18_layer_9 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_9.png?v=1029193756607);
    position: absolute;
    top: 266.00px;
    left: 270.00px;
    width: 510.50px;
    height: 246.50px;
}

#slide_OT_EU_PB_a_18_layer_11 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_11.png?v=1029193756607);
    position: absolute;
    top: 421.00px;
    left: 262px;
    width: 80px;
    height: 75.00px;
}

#slide_OT_EU_PB_a_18_layer_12 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_12.png?v=1029193756607);
    position: absolute;
    top: 421.00px;
    left: 670px;
    width: 105px;
    height: 75.00px;
}

#slide_OT_EU_PB_a_18_layer_13 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_13.png?v=1029193756607);
    position: absolute;
    top: 421.00px;
    left: 340.00px;
    width: 342.50px;
    height: 75.00px;
}

#slide_OT_EU_PB_a_18_layer_14 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_14.png?v=1029193756607);
    position: absolute;
    top: 314.50px;
    left: 293px;
    width: 158px;
    height: 99px;
}

#slide_OT_EU_PB_a_18_layer_15 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_15.png?v=1029193756607);
    position: absolute;
    top: 298px;
    left: 528px;
    width: 248px;
    height: 76px;
}

#slide_OT_EU_PB_a_18_layer_17,
#slide_OT_EU_PB_a_18_layer_17a {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_17.png?v=1029193756607);
    position: absolute;
    top: 381.50px;
    left: 262.50px;
    width: 78.50px;
    height: 46.50px;
}

#slide_OT_EU_PB_a_18_layer_18,
#slide_OT_EU_PB_a_18_layer_18a {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_18.png?v=1029193756607);
    position: absolute;
    top: 381.50px;
    left: 332.00px;
    width: 78.50px;
    height: 46.50px;
}

#slide_OT_EU_PB_a_18_layer_19,
#slide_OT_EU_PB_a_18_layer_19a {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_19.png?v=1029193756607);
    position: absolute;
    top: 381.50px;
    left: 402.00px;
    width: 78.50px;
    height: 46.50px;
}

#slide_OT_EU_PB_a_18_layer_20,
#slide_OT_EU_PB_a_18_layer_20a {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_20.png?v=1029193756607);
    position: absolute;
    top: 378.00px;
    left: 471.50px;
    width: 78.50px;
    height: 50.00px;
}

#slide_OT_EU_PB_a_18_layer_21,
#slide_OT_EU_PB_a_18_layer_21a {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_21.png?v=1029193756607);
    position: absolute;
    top: 370.50px;
    left: 541.00px;
    width: 78.50px;
    height: 57.50px;
}

#slide_OT_EU_PB_a_18_layer_22,
#slide_OT_EU_PB_a_18_layer_22a {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_22.png?v=1029193756607);
    position: absolute;
    top: 359.00px;
    left: 611.00px;
    width: 78.50px;
    height: 69.00px;
}

#slide_OT_EU_PB_a_18_layer_23,
#slide_OT_EU_PB_a_18_layer_23a {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_23.png?v=1029193756607);
    position: absolute;
    top: 338.00px;
    left: 680.50px;
    width: 78.50px;
    height: 90.00px;
}

#slide_OT_EU_PB_a_18_layer_17a,
#slide_OT_EU_PB_a_18_layer_18a,
#slide_OT_EU_PB_a_18_layer_19a,
#slide_OT_EU_PB_a_18_layer_20a,
#slide_OT_EU_PB_a_18_layer_21a,
#slide_OT_EU_PB_a_18_layer_22a,
#slide_OT_EU_PB_a_18_layer_23a   { display:none; }

#slide_OT_EU_PB_a_18_layer_26 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_26.png?v=1029193756607);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 181.50px;
    height: 593.00px;
}

#slide_OT_EU_PB_a_18_layer_31 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_31.png?v=1029193756607);
    position: absolute;
    top: 453.00px;
    left: 288.50px;
    width: 46.00px;
    height: 46.00px;
}

#slide_OT_EU_PB_a_18_layer_33 {
    position: absolute;
    top: 533px;
    left: 93.44px;
    text-align: left;
    font-family: MuseoSans-700;
    font-size: 17.00px;
    line-height: 1.18;
    color: #3c4455;
}

#slide_OT_EU_PB_a_18_layer_33 span {
    font-family: MuseoSans-300;
}

#slide_OT_EU_PB_a_18_layer_34 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_34.png?v=1029193756607);
    position: absolute;
    top: 476.50px;
    left: 70.00px;
    width: 505.50px;
    height: 151.00px;
}

#slide_OT_EU_PB_a_18_layer_36 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_36.png?v=1029193756607);
    position: absolute;
    top: 453.00px;
    left: 288.50px;
    width: 46.00px;
    height: 46.00px;
}

#slide_OT_EU_PB_a_18_layer_38 {
    position: absolute;
    top: 464.00px;
    left: 69.42px;
    text-align: left;
    font-family: MuseoSans-500;
    font-size: 20.00px;
    line-height: 1.10;
    color: #3d4556;
}

#slide_OT_EU_PB_a_18_layer_43 {
    position: absolute;
    top: 442.00px;
    left: 93.44px;
    text-align: left;
    font-family: MuseoSans-700;
    font-size: 17.00px;
    line-height: 1.18;
    color: #3c4455;
}

#slide_OT_EU_PB_a_18_layer_43 span {
    font-family: MuseoSans-300;
}

#slide_OT_EU_PB_a_18_layer_44 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_44.png?v=1029193756607);
    position: absolute;
    top: 376.50px;
    left: 70.00px;
    width: 505.50px;
    height: 151.00px;
}

#slide_OT_EU_PB_a_18_layer_45 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_45.png?v=1029193756607);
    position: absolute;
    top: 353.00px;
    left: 288.50px;
    width: 46.00px;
    height: 46.00px;
}

#slide_OT_EU_PB_a_18_layer_47 {
    position: absolute;
    top: 364.00px;
    left: 69.42px;
    text-align: left;
    font-family: MuseoSans-500;
    font-size: 20.00px;
    line-height: 1.10;
    color: #3d4556;
}

#slide_OT_EU_PB_a_18_layer_50 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_50.png?v=1029193756607);
    position: absolute;
    top: 247.00px;
    left: 360.50px;
    width: 46.00px;
    height: 46.00px;
}

#slide_OT_EU_PB_a_18_layer_52 {
    position: absolute;
    top: 350.00px;
    left: 95.44px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 17.00px;
    line-height: 1.18;
    color: #3c4455;
}

#slide_OT_EU_PB_a_18_layer_53 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_53.png?v=1029193756607);
    position: absolute;
    top: 282.50px;
    left: 70.00px;
    width: 505.50px;
    height: 128.00px;
}

#slide_OT_EU_PB_a_18_layer_54 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_54.png?v=1029193756607);
    position: absolute;
    top: 247.00px;
    left: 360.50px;
    width: 46.00px;
    height: 46.00px;
}

#slide_OT_EU_PB_a_18_layer_56 {
    position: absolute;
    top: 256.50px;
    left: 70.42px;
    text-align: left;
    font-family: MuseoSans-500;
    font-size: 20.00px;
    line-height: 1.10;
    color: #3d4556;
}

#slide_OT_EU_PB_a_18_layer_60 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_60.png?v=1029193756607);
    position: absolute;
    top: 178.50px;
    left: 752.50px;
    width: 119.50px;
    height: 119.50px;
}

#slide_OT_EU_PB_a_18_layer_61 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_61.png?v=1029193756607);
    position: absolute;
    top: 205.00px;
    left: 627.00px;
    width: 171.50px;
    height: 384.00px;
}

#slide_OT_EU_PB_a_18_layer_62 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_62.png?v=1029193756607);
    position: absolute;
    top: 207px;
    left: 628px;
    width: 171.50px;
    height: 384.00px;
}

#slide_OT_EU_PB_a_18_layer_63 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_63.png?v=1029193756607);
    position: absolute;
    top: 533.50px;
    left: 812.50px;
    width: 85.50px;
    height: 41.00px;
}

#slide_OT_EU_PB_a_18_layer_64 {
    position: absolute;
    top: 599.50px;
    left: 677.47px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 12.00px;
    line-height: 1.25;
    color: #3d4556;
}

#slide_OT_EU_PB_a_18_layer_65 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_65.png?v=1029193756607);
    position: absolute;
    top: 601.00px;
    left: 644.00px;
    width: 24.00px;
    height: 24.50px;
}

#slide_OT_EU_PB_a_18_layer_67 {
    position: absolute;
    top: 22.50px;
    left: 70.17px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 38.00px;
    line-height: 1.11;
    color: #77bc1f;
}

#slide_OT_EU_PB_a_18_layer_68 {
    position: absolute;
    top: 85px;
    left: 69.47px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 38.00px;
    line-height: 1.11;
    color: #77bc1f;
}

#slide_OT_EU_PB_a_18_layer_70 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_70.png?v=1029193756608);
    position: absolute;
    top: 669.00px;
    left: 55.50px;
    width: 86.00px;
    height: 86.50px;
}

#slide_OT_EU_PB_a_18_layer_71 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_71.png?v=1029193756608);
    position: absolute;
    top: 669.00px;
    left: 204.50px;
    width: 86.00px;
    height: 86.50px;
}

#slide_OT_EU_PB_a_18_layer_73 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_73.png?v=1029193756608);
    position: absolute;
    top: 354.00px;
    left: 2.00px;
    width: 1022.00px;
    height: 414.00px;
}

#slide_OT_EU_PB_a_18_layer_74 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_74.png?v=1029193756608);
    position: absolute;
    top: 385.50px;
    left: 492.50px;
    width: 36.50px;
    height: 36.50px;
}

#slide_OT_EU_PB_a_18_layer_75 {
    position: absolute;
    top: 459.50px;
    left: 156.44px;
    font-family: MuseoSans-500;
    font-size: 15.00px;
    line-height: 1.2;
    color: #3d4556;
}

#slide_OT_EU_PB_a_18_layer_77 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_77.png?v=1029193756608);
    position: absolute;
    top: 669.00px;
    left: 130.00px;
    width: 86.00px;
    height: 86.50px;
}

.logo {
    opacity: 0;
}

.layer_23.caption.active {
    opacity: inherit !important;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.fadeIn {
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
}

.onetouch {
    position: absolute;
    top: 0;
    left: 0;
    height: 1923px;
    width: 859px;
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/onetouch.png?v=1029193756608);
    -webkit-transition: transform 1s ease-in-out;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
    transform: translate(-500px, -1800px) scale(1);
    -webkit-transform: translate(-500px, -1800px) scale(1);
    opacity: 0;
}

.onetouch.active {
    opacity: 1;
    transform: translate(284px, -562px) scale(.2);
    -webkit-transform: translate(284px, -562px) scale(.2);
}

.captions.field.a62,
.logos.field.a68 { transform:scale(1.2) translateY(35px); -webkit-transform: scale(1.2) translateY(35px); }

.logo-color-w {
    position: absolute;
    top: 266.00px;
    left: 270.00px;
    width: 510.50px;
    height: 246.50px;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
    transform: translate(0px, 0px) scale(1);
    -webkit-transform: translate(0px, 0px) scale(1);
}

.logo-color-w.active {
    transform: translate(329px, 165px) scale(.17);
    -webkit-transform: translate(329px, 165px) scale(.17);
}

.logo-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 510.50px;
    height: 246.50px;
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18a/slide_OT_EU_PB_a_18_layer_27.png?v=1029193756608);
    opacity: 0;
}

.onetouch-item, .onetouch-min {
    opacity: 0;
}

.title {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.title.active {
    opacity: 1;
}

.text {
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    pointer-events: none !important;
}

.text div {
    pointer-events: none !important;
}

.text.active {
    opacity: 1;
}

.btn-wrap.b2 {
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
}

.btn-wrap.b2.active {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

.btn-wrapper {
    opacity: 0;
    pointer-events: none !important;
}

.off { opacity: 0 }

.meter-icons > div {
    position: absolute;
    height: 70px;
    width: 70px;
    top:285px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center center;
    display:none;
}

div#meter-icon-low {
    left: 221px;
    background-image:url('../images/OT_EU_PB_a_18a/ico_low.png');
    height: 38px;
    width: 90px;
    margin-top:20px;
}
div#meter-icon-nearLow {
    left: 305px;
    background-image:url('../images/OT_EU_PB_a_18a/ico_nearLow.png');
}
div#meter-icon-inRange {
    left: 473px;
    background-image:url('../images/OT_EU_PB_a_18a/ico_inRange.png');
}
div#meter-icon-nearHigh {
    left: 640px;
    background-image:url('../images/OT_EU_PB_a_18a/ico_nearHigh.png');
}
div#meter-icon-high {
    left: 724px;
    height: 38px;
    width: 105px;
    margin-top:20px;
    background-image:url('../images/OT_EU_PB_a_18a/ico_high.png');
}

