#slide_OT_EU_PB_a_17_background {
    left: 0px;
    top: 0px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
    width: 1024.00px;
    height: 768.00px;
}

#slide_OT_EU_PB_a_17_layer_1 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_1.png?v=1029193756592);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 768.00px;
}

#slide_OT_EU_PB_a_17_layer_2 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_2.png?v=1029193756592);
    position: absolute;
    top: 156px;
    left: 816px;
    width: 140px;
    height: 140px;
}

#slide_OT_EU_PB_a_17_layer_3 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_3.png?v=1029193756592);
    position: absolute;
    left: 627.00px;
    width: 171.50px;
    height: 384.00px;
}


#slide_OT_EU_PB_a_17_layer_6 {
    position: absolute;
    top: 599.50px;
    left: 677.47px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 12.00px;
    line-height: 1.25;
    color: #3D4556;
}

#slide_OT_EU_PB_a_17_layer_7 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_7.png?v=1029193756592);
    position: absolute;
    top: 601.00px;
    left: 644.00px;
    width: 24.00px;
    height: 24.50px;
}

#slide_OT_EU_PB_a_17_layer_11 {
    text-align: left;
    font-family: MuseoSans-300;
    line-height: 1.255;
    color: #3D4556;
    position: absolute;
    left: 198px;
    top: 605px;
    font-size: 19px;
}

#slide_OT_EU_PB_a_17_layer_12 {
    position: absolute;
    left: 180px;
    top: 568px;
    width: 443px;
    height: 114px;
    border: 3px solid #f1ede6;
    border-radius: 20px;
}

#slide_OT_EU_PB_a_17_layer_13 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_13.png?v=1029193756592);
    position: absolute;
    top: 532px;
    left: 61.00px;
    width: 74.00px;
    height: 74.00px;
}

#slide_OT_EU_PB_a_17_layer_14 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_14.png?v=1029193756592);
    position: absolute;
    top: 228px;
    left: 712px;
    width: 168px;
    height: 457px;
}

#slide_OT_EU_PB_a_17_layer_17 {
    text-align: left;
    font-family: MuseoSans-300;
    line-height: 1.255;
    color: #3D4556;
    position: absolute;
    left: 197px;
    top: 456px;
    font-size: 19px;
}

#slide_OT_EU_PB_a_17_layer_18 {
    position: absolute;
    left: 180px;
    top: 420px;
    width: 472px;
    height: 112px;
    border: 3px solid #f1ede6;
    border-radius: 20px;
}

#slide_OT_EU_PB_a_17_layer_19 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_19.png?v=1029193756592);
    position: absolute;
    top: 382.5px;
    left: 61.00px;
    width: 74.00px;
    height: 74.00px;
}

#slide_OT_EU_PB_a_17_layer_20 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_20.png?v=1029193756592);
    position: absolute;
    top: 228px;
    left: 712px;
    width: 168px;
    height: 457px;
}

#slide_OT_EU_PB_a_17_layer_23 {
    text-align: left;
    font-family: MuseoSans-300;
    line-height: 1.2;
    color: #3D4556;
    position: absolute;
    left: 196px;
    top: 307px;
    font-size: 19px;
}

#slide_OT_EU_PB_a_17_layer_24 {
    position: absolute;
    left: 180px;
    top: 270px;
    width: 450px;
    height: 110px;
    border: 3px solid #f1ede6;
    border-radius: 20px;
}

#slide_OT_EU_PB_a_17_layer_25 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_25.png?v=1029193756592);
    position: absolute;
    top: 233.50px;
    left: 60.50px;
    width: 74.00px;
    height: 74.00px;
}

#slide_OT_EU_PB_a_17_layer_26 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_26.png?v=1029193756592);
    position: absolute;
    top: 228px;
    left: 712px;
    width: 168px;
    height: 457px;
}

#slide_OT_EU_PB_a_17_layer_28 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_28.png?v=1029193756592);
    position: absolute;
    top: 325.00px;
    left: 653.50px;
    width: 36.00px;
    height: 183.50px;
}

#slide_OT_EU_PB_a_17_layer_31 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_31.png?v=1029193756592);
    position: absolute;
    top: 245.50px;
    left: 154.50px;
    width: 196.00px;
    height: 50.00px;
}

#slide_OT_EU_PB_a_17_layer_32 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_32.png?v=1029193756592);
    position: absolute;
    top: 396px;
    left: 154.50px;
    width: 196.00px;
    height: 50.00px;
}

#slide_OT_EU_PB_a_17_layer_33 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_33.png?v=1029193756592);
    position: absolute;
    top: 546px;
    left: 154.50px;
    width: 196.00px;
    height: 50.00px;
}

#slide_OT_EU_PB_a_17_layer_36 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_36.png?v=1029193756592);
    position: absolute;
    top: 262.50px;
    left: 323.50px;
    width: 10.00px;
    height: 15.50px;
}

#slide_OT_EU_PB_a_17_layer_37 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_37.png?v=1029193756592);
    position: absolute;
    top: 414.00px;
    left: 323.50px;
    width: 10.00px;
    height: 15.50px;
}

#slide_OT_EU_PB_a_17_layer_38 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_38.png?v=1029193756592);
    position: absolute;
    top: 562px;
    left: 323.50px;
    width: 10.00px;
    height: 15.50px;
}

#slide_OT_EU_PB_a_17_layer_39 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_39.png?v=1029193756592);
    position: absolute;
    top: 228px;
    left: 712px;
    width: 168px;
    height: 457px;
}

#slide_OT_EU_PB_a_17_layer_40 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_40.png?v=1029193756592);
    position: absolute;
    top: 532px;
    left: 61.50px;
    width: 73.00px;
    height: 73.00px;
}

#slide_OT_EU_PB_a_17_layer_41 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_41.png?v=1029193756592);
    position: absolute;
    top: 382.5px;
    left: 61.50px;
    width: 73.00px;
    height: 73.00px;
}

#slide_OT_EU_PB_a_17_layer_42 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_42.png?v=1029193756592);
    position: absolute;
    top: 234.00px;
    left: 61.00px;
    width: 73.00px;
    height: 73.00px;
}

#slide_OT_EU_PB_a_17_layer_45 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_45.png?v=1029193756592);
    position: absolute;
    top: 562px;
    left: 323.50px;
    width: 10.00px;
    height: 15.50px;
}

#slide_OT_EU_PB_a_17_layer_46 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_46.png?v=1029193756592);
    position: absolute;
    top: 414px;
    left: 323.50px;
    width: 10.00px;
    height: 15.50px;
}

#slide_OT_EU_PB_a_17_layer_47 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_47.png?v=1029193756592);
    position: absolute;
    top: 262.50px;
    left: 323.50px;
    width: 10.00px;
    height: 15.50px;
}

#slide_OT_EU_PB_a_17_layer_49 {
    position: absolute;
    top: 94px;
    left: 25px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 30px;
    line-height: 1.11;
    color: #77BC1F;
}

#slide_OT_EU_PB_a_17_layer_5 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_5.png?v=1029193756592);
    position: absolute;
    top: 568px;
    left: 855px;
    width: 85.50px;
    height: 41.00px;
}

#slide_OT_EU_PB_a_17_layer_52 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_52.png?v=1029193756593);
    position: absolute;
    top: 669.00px;
    left: 204.50px;
    width: 86.00px;
    height: 86.50px;
}

#slide_OT_EU_PB_a_17_layer_54 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_54.png?v=1029193756593);
    position: absolute;
    top: 289.00px;
    left: 2.00px;
    width: 1022.00px;
    height: 479.00px;
}

#slide_OT_EU_PB_a_17_layer_55 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_55.png?v=1029193756593);
    position: absolute;
    top: 320.50px;
    left: 492.50px;
    width: 36.50px;
    height: 36.50px;
}

#slide_OT_EU_PB_a_17_layer_56 {
    position: absolute;
    top: 405.50px;
    left: 154.97px;
    font-family: MuseoSans-500;
    font-size: 15.00px;
    line-height: 1.2;
    color: #3D4556;
}

#slide_OT_EU_PB_a_17_layer_58 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_17/slide_OT_EU_PB_a_17_layer_58.png?v=1029193756593);
    position: absolute;
    top: 669.00px;
    left: 130.00px;
    width: 86.00px;
    height: 86.50px;
}

.view, .icon, .icon-off, .screen-off, .arrow-off {
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.view.active, .icon.active, .icon-off.active, .screen-off.active, .arrow-off.active {
    opacity: 1;
    pointer-events: auto;
}

.arrow {
    pointer-events: none;
}
