#slide_OT_EU_PB_a_15_background {
    left: 0px;
    top: 0px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
    width: 1024.00px;
    height: 768.00px;
}

#slide_OT_EU_PB_a_15_layer_1 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_15/slide_OT_EU_PB_a_15_layer_1.png?v=1029193756730);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 768.00px;
    
}

#slide_OT_EU_PB_a_15_layer_2 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_15/slide_OT_EU_PB_a_15_layer_2.png?v=1029193756730);
    position: absolute;
top: 165px;
    left: 730px;
    width: 253px;
    height: 501px;
}

#slide_OT_EU_PB_a_15_layer_4 {
    position: absolute;
    top: 619.5px;
    left: 544.47px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 12.00px;
    line-height: 1.25;
    color: #3D4556;
}

#slide_OT_EU_PB_a_15_layer_5 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_15/slide_OT_EU_PB_a_15_layer_5.png?v=1029193756730);
    position: absolute;
    top: 622.00px;
    left: 511.00px;
    width: 24.00px;
    height: 24.50px;
}

#slide_OT_EU_PB_a_15_layer_6 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_15/slide_OT_EU_PB_a_15_layer_6.png?v=1029193756730);
    position: absolute;
    top: 206.50px;
    left: 609.50px;
    width: 119.50px;
    height: 119.50px;
}

#slide_OT_EU_PB_a_15_layer_7 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_15/slide_OT_EU_PB_a_15_layer_7.png?v=1029193756730);
    position: absolute;
    top: 188px;
    left: 498px;
    width: 193px;
    height: 430px;
}

#slide_OT_EU_PB_a_15_layer_11 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_15/slide_OT_EU_PB_a_15_layer_11.png?v=1029193756730);
    position: absolute;
    top: 635px;
    left: 715px;
    width: 125.50px;
    height: 40.50px;
}

#slide_OT_EU_PB_a_15_layer_12 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_15/slide_OT_EU_PB_a_15_layer_12.png?v=1029193756730);
    position: absolute;
    top: 635px;
    left: 850px;
    width: 133.50px;
    height: 39.50px;
}

#slide_OT_EU_PB_a_15_layer_14 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_15/slide_OT_EU_PB_a_15_layer_14.png?v=1029193756730);
    position: absolute;
    top: 320.5px;
    left: 20.50px;
    width: 420.00px;
    height: 287.50px;
}

#slide_OT_EU_PB_a_15_layer_14 p {
    margin: 201px 157px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 10px;
    line-height: 0.60;
    color: #3D4556;
}

#slide_OT_EU_PB_a_15_layer_15 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_15/slide_OT_EU_PB_a_15_layer_15.png?v=1029193756730);
    position: absolute;
    top: 232.5px;
    left: 20.50px;
    width: 420.00px;
    height: 331.00px;
}

#slide_OT_EU_PB_a_15_layer_16 {
    position: absolute;
    top: 284px;
    left: 70px;
    text-align: left;
    font-family: MuseoSans-700;
    font-size: 28px;
    line-height: 1.15;
    color: #3D4556;
    letter-spacing: -.1px;
}

#slide_OT_EU_PB_a_15_layer_17 {
    position: absolute;
    top: 301px;
    left: 150.97px;
    text-align: left;
    font-family: MuseoSans-700;
    font-size: 20.00px;
    line-height: 1.15;
    color: #3D4556;
    letter-spacing: .1px;
}

#slide_OT_EU_PB_a_15_layer_18 {
    position: absolute;
    top: 228px;
    left: 151.42px;
    text-align: left;
    font-family: MuseoSans-700;
    font-size: 20.00px;
    line-height: 0.60;
    color: #3D4556;
}

#slide_OT_EU_PB_a_15_layer_2 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_15/slide_OT_EU_PB_a_15_layer_2.png?v=1029193756730);
    position: absolute;
    top: 90px;
    left: 718px;
    width: 262px;
    height: 520px;
}

#slide_OT_EU_PB_a_15_layer_21 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_15/slide_OT_EU_PB_a_15_layer_21.png?v=1029193756730);
    position: absolute;
    top: 292.00px;
    left: 68.50px;
    width: 63.00px;
    height: 63.00px;
}

#slide_OT_EU_PB_a_15_layer_22 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_15/slide_OT_EU_PB_a_15_layer_22.png?v=1029193756731);
    position: absolute;
    top: 205.50px;
    left: 68.50px;
    width: 63.00px;
    height: 63.00px;
}

#slide_OT_EU_PB_a_15_layer_25 {
    position: absolute;
    top: 180px;
    left: 70px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 48px;
    line-height: 1.11;
    color: #77BC1F;
    letter-spacing: .2px;
}

.text {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, transform .3s;
    transition: opacity .3s, transform .3s, -webkit-transform .3s;
}

.text.active {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

.largeToggle {
    position: absolute;
    height: 338px;
    width: 287px;
    top: 230px;
}

.toggle-BSM-Section { left:50px; }
.toggle-CS-Section { left:368px; }
.toggle-OTR-Section { left:688px;}
