#slide_OT_EU_PB_a_19_background {
    left: 0px;
    top: 0px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
    width: 1024.00px;
    height: 768.00px;
}

#slide_OT_EU_PB_a_19_layer_1 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_1.png?v=1029193756647);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 768.00px;
}

#slide_OT_EU_PB_a_19_layer_3 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_3.png?v=1029193756647);
    position: absolute;
    top: 220px;
    left: 160px;
    width: 92px;
    height: 92px;
}

#slide_OT_EU_PB_a_19_layer_4 {
    background-size: contain;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_4.png?v=1029193756647);
    position: absolute;
    top: 239.00px;
    left: 70.5px;
    width: 160.50px;
    height: 312px;
    background-repeat: no-repeat;
}

#slide_OT_EU_PB_a_19_layer_5 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_5.png?v=1029193756647);
    position: absolute;
    top: 497px;
    left: 200px;
    width: 80.00px;
    height: 38.50px;
}

#slide_OT_EU_PB_a_19_layer_8 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_8.png?v=1029193756647);
    position: absolute;
    top: 380.50px;
    left: 355.00px;
    width: 594.50px;
    height: 94.00px;
}

#slide_OT_EU_PB_a_19_layer_10 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_10.png?v=1029193756647);
    position: absolute;
    top: 423.00px;
    left: 342.00px;
    width: 103.50px;
    height: 63.50px;
}

#slide_OT_EU_PB_a_19_layer_11 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_11.png?v=1029193756647);
    position: absolute;
    top: 423.00px;
    left: 429.00px;
    width: 103.00px;
    height: 63.50px;
}

#slide_OT_EU_PB_a_19_layer_12 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_12.png?v=1029193756647);
    position: absolute;
    top: 423.00px;
    left: 515.50px;
    width: 103.00px;
    height: 63.50px;
}

#slide_OT_EU_PB_a_19_layer_13 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_13.png?v=1029193756647);
    position: absolute;
    top: 418.50px;
    left: 601.00px;
    width: 103.50px;
    height: 68.00px;
}

#slide_OT_EU_PB_a_19_layer_14 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_14.png?v=1029193756647);
    position: absolute;
    top: 409.00px;
    left: 687.00px;
    width: 103.50px;
    height: 77.50px;
}

#slide_OT_EU_PB_a_19_layer_15 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_15.png?v=1029193756647);
    position: absolute;
    top: 395.00px;
    left: 773.50px;
    width: 103.50px;
    height: 91.50px;
}

#slide_OT_EU_PB_a_19_layer_16 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_16.png?v=1029193756647);
    position: absolute;
    top: 369.00px;
    left: 859.50px;
    width: 103.50px;
    height: 117.50px;
}

#slide_OT_EU_PB_a_19_layer_20 {
background-size: 114.5px;
    background-repeat: no-repeat;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_20.png?v=1029193756647);
    position: absolute;
    top: 403px;
    left: 88px;
    width: 80.5px;
    height: 100.5px;
    background-position: -17px -99px;
}

#slide_OT_EU_PB_a_19_layer_21 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_21.png?v=1029193756647);
    position: absolute;
    top: 367.00px;
    left: 377.00px;
    width: 93.50px;
    height: 63.00px;
}

#slide_OT_EU_PB_a_19_layer_24 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_24.png?v=1029193756647);
    position: absolute;
    top: 359.50px;
    left: 453.00px;
    width: 54.00px;
    height: 68.50px;
}

#slide_OT_EU_PB_a_19_layer_25 {
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_25.png?v=1029193756647);
    background-size: 114.5px;
    background-repeat: no-repeat;
    position: absolute;
    top: 403px;
    left: 88px;
    width: 80.5px;
    height: 100.5px;
    background-position: -17px -99px;
}

#slide_OT_EU_PB_a_19_layer_28 {
    background-size: 114.5px;
    background-repeat: no-repeat;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_4.png?v=1029193756647);
    position: absolute;
    top: 403px;
    left: 88px;
    width: 80.5px;
    height: 100.5px;
    background-position: -17px -99px;
}

#slide_OT_EU_PB_a_19_layer_29 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_29.png?v=1029193756647);
    position: absolute;
    top: 351.50px;
    left: 622.50px;
    width: 56.00px;
    height: 69.00px;
}

#slide_OT_EU_PB_a_19_layer_32 {
    background-size: 80.5px;
    background-repeat:no-repeat;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_32.png?v=1029193756647);
    position: absolute;
    top: 403px;
    left: 88px;
    width: 80.5px;
    height: 100.5px;
}

#slide_OT_EU_PB_a_19_layer_33 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_33.png?v=1029193756647);
    position: absolute;
    top: 335.00px;
    left: 793.50px;
    width: 54.00px;
    height: 68.50px;
}

#slide_OT_EU_PB_a_19_layer_35 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_35.png?v=1029193756647);
    position: absolute;
    top: 323.00px;
    left: 821.50px;
    width: 98.00px;
    height: 62.50px;
}

#slide_OT_EU_PB_a_19_layer_37 {
    position: absolute;
    top: 490.47px;
    left: 378.42px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 15.43px;
    line-height: 1.13;
    color: #3c4455;
}

#slide_OT_EU_PB_a_19_layer_38 {
    position: absolute;
    top: 490.47px;
    left: 444.42px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 15.43px;
    line-height: 1.13;
    color: #3c4455;
}

#slide_OT_EU_PB_a_19_layer_39 {
    position: absolute;
    top: 490.47px;
    left: 622.92px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 15.43px;
    line-height: 1.13;
    color: #3c4455;
}

#slide_OT_EU_PB_a_19_layer_40 {
    position: absolute;
    top: 490.47px;
    left: 784.42px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 15.43px;
    line-height: 1.13;
    color: #3c4455;
}

#slide_OT_EU_PB_a_19_layer_41 {
    position: absolute;
    top: 490.47px;
    left: 894.92px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 15.43px;
    line-height: 1.13;
    color: #3c4455;
}

#slide_OT_EU_PB_a_19_layer_43 {
    position: absolute;
    top: 88px;
    left: 68.17px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 38.00px;
    line-height: 1.11;
    color: #77bc1f;
}

#slide_OT_EU_PB_a_19_layer_44 {
    position: absolute;
    top: 600px;
    left: 103.47px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 12.00px;
    line-height: 1.25;
    color: #3d4556;
}

#slide_OT_EU_PB_a_19_layer_45 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_45.png?v=1029193756647);
    position: absolute;
    top: 600px;
    left: 70.00px;
    width: 24.00px;
    height: 24.50px;
}

#slide_OT_EU_PB_a_19_layer_47 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_47.png?v=1029193756647);
    position: absolute;
    top: 669.00px;
    left: 55.50px;
    width: 86.00px;
    height: 86.50px;
}

#slide_OT_EU_PB_a_19_layer_48 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_48.png?v=1029193756647);
    position: absolute;
    top: 669.00px;
    left: 204.50px;
    width: 86.00px;
    height: 86.50px;
}

#slide_OT_EU_PB_a_19_layer_50 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_50.png?v=1029193756647);
    position: absolute;
    top: 354.00px;
    left: 2.00px;
    width: 1022.00px;
    height: 414.00px;
}

#slide_OT_EU_PB_a_19_layer_51 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_51.png?v=1029193756647);
    position: absolute;
    top: 385.50px;
    left: 492.50px;
    width: 36.50px;
    height: 36.50px;
}

#slide_OT_EU_PB_a_19_layer_52 {
    position: absolute;
    top: 459.50px;
    left: 156.44px;
    font-family: MuseoSans-500;
    font-size: 15.00px;
    line-height: 1.2;
    color: #3d4556;
}

#slide_OT_EU_PB_a_19_layer_54 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_19/slide_OT_EU_PB_a_19_layer_54.png?v=1029193756647);
    position: absolute;
    top: 669.00px;
    left: 130.00px;
    width: 86.00px;
    height: 86.50px;
}

.glow, .tip {
    opacity: 0;
}

.light {
    -webkit-animation-name: light;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes light {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.fadeOut {
    -webkit-animation-duration: .5s;
}

.btn-fake {
    position: absolute;
    bottom: -475px;
}

.btn-fake.b1 {
    width: 79px;
    height: 39px;
    left: 355px;
}

.btn-fake.b2 {
    width: 80px;
    height: 40px;
    left: 440px;
}

.btn-fake.b3 {
    width: 251px;
    height: 54px;
    left: 527px;
}

.btn-fake.b4 {
    width: 79px;
    height: 69px;
    left: 786px;
}

.btn-fake.b5 {
    width: 78px;
    height: 95px;
    left: 872px;
}

.normal.active {
    opacity: 1;
}

.meterDisplay {
    position: relative;
    top: 45px;
}

.rangeDisplay {
    position: relative;
    top: -20px;
}