

#slide_OT_EU_PB_a_18_background {
    left: 0px;
    top: 0px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
    width: 1024.00px;
    height: 768.00px;
}

#slide_OT_EU_PB_a_18_layer_1 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_1.png?v=1029193756607);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 768.00px;
}

#slide_OT_EU_PB_a_18_layer_3 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_3.png?v=1029193756607);
    position: absolute;
    top: 309.00px;
    left: 270.00px;
    width: 511.00px;
    height: 157.50px;
}

#slide_OT_EU_PB_a_18_layer_4 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_4.png?v=1029193756607);
    position: absolute;
    top: 393.00px;
    left: 270.00px;
    width: 481.50px;
    height: 25.50px;
}

#slide_OT_EU_PB_a_18_layer_5 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_5.png?v=1029193756607);
    position: absolute;
    top: 389.00px;
    left: 270.00px;
    width: 481.50px;
    height: 32.00px;
}

#slide_OT_EU_PB_a_18_layer_6 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_6.png?v=1029193756607);
    position: absolute;
    top: 389.00px;
    left: 270.00px;
    width: 481.50px;
    height: 32.00px;
}

#slide_OT_EU_PB_a_18_layer_7 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_7.png?v=1029193756607);
    position: absolute;
    top: 367.50px;
    left: 270.00px;
    width: 481.50px;
    height: 53.50px;
}

#slide_OT_EU_PB_a_18_layer_8 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_8.png?v=1029193756607);
    position: absolute;
    top: 344.50px;
    left: 270.00px;
    width: 481.50px;
    height: 76.50px;
}

#slide_OT_EU_PB_a_18_layer_9 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_9.png?v=1029193756607);
    position: absolute;
    top: 266.00px;
    left: 270.00px;
    width: 510.50px;
    height: 246.50px;
}

#slide_OT_EU_PB_a_18_layer_11 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_11.png?v=1029193756607);
    position: absolute;
    top: 421.00px;
    left: 272.00px;
    width: 60.00px;
    height: 75.00px;
}

#slide_OT_EU_PB_a_18_layer_12 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_12.png?v=1029193756607);
    position: absolute;
    top: 421.00px;
    left: 690.00px;
    width: 60.00px;
    height: 75.00px;
}

#slide_OT_EU_PB_a_18_layer_13 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_13.png?v=1029193756607);
    position: absolute;
    top: 421.00px;
    left: 340.00px;
    width: 342.50px;
    height: 75.00px;
}

#slide_OT_EU_PB_a_18_layer_14 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_14.png?v=1029193756607);
    position: absolute;
    top: 314.50px;
    left: 311.00px;
    width: 120.00px;
    height: 75.00px;
}

#slide_OT_EU_PB_a_18_layer_15 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_15.png?v=1029193756607);
    position: absolute;
    top: 314.50px;
    left: 590.00px;
    width: 120.00px;
    height: 75.00px;
}

#slide_OT_EU_PB_a_18_layer_17 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_17.png?v=1029193756607);
    position: absolute;
    top: 381.50px;
    left: 262.50px;
    width: 78.50px;
    height: 46.50px;
}

#slide_OT_EU_PB_a_18_layer_18 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_18.png?v=1029193756607);
    position: absolute;
    top: 381.50px;
    left: 332.00px;
    width: 78.50px;
    height: 46.50px;
}

#slide_OT_EU_PB_a_18_layer_19 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_19.png?v=1029193756607);
    position: absolute;
    top: 381.50px;
    left: 402.00px;
    width: 78.50px;
    height: 46.50px;
}

#slide_OT_EU_PB_a_18_layer_20 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_20.png?v=1029193756607);
    position: absolute;
    top: 378.00px;
    left: 471.50px;
    width: 78.50px;
    height: 50.00px;
}

#slide_OT_EU_PB_a_18_layer_21 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_21.png?v=1029193756607);
    position: absolute;
    top: 370.50px;
    left: 541.00px;
    width: 78.50px;
    height: 57.50px;
}

#slide_OT_EU_PB_a_18_layer_22 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_22.png?v=1029193756607);
    position: absolute;
    top: 359.00px;
    left: 611.00px;
    width: 78.50px;
    height: 69.00px;
}

#slide_OT_EU_PB_a_18_layer_23 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_23.png?v=1029193756607);
    position: absolute;
    top: 338.00px;
    left: 680.50px;
    width: 78.50px;
    height: 90.00px;
}

#slide_OT_EU_PB_a_18_layer_26 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_26.png?v=1029193756607);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 181.50px;
    height: 593.00px;
}

#slide_OT_EU_PB_a_18_layer_31 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_31.png?v=1029193756607);
    position: absolute;
    top: 330px;
    left: 885px;
    width: 46.00px;
    height: 46.00px;
}

#slide_OT_EU_PB_a_18_layer_33 {
    position: absolute;
    top: 438px;
    left: 624px;
    text-align: left;
    font-family: MuseoSans-700;
    font-size: 17.00px;
    line-height: 1.3;
    color: #3c4455;
    width: 355px;
}

#slide_OT_EU_PB_a_18_layer_33 span {
    font-family: MuseoSans-300;
}

#slide_OT_EU_PB_a_18_layer_34 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_34.png?v=1029193756607);
    position: absolute;
    top: 372px;
    left: 607px;
    width: 388px;
    height: 245px;
}
#slide_OT_EU_PB_a_18_layer_36 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_36.png?v=1029193756607);
    position: absolute;
    top: 330px;
    left: 885px;
    width: 46.00px;
    height: 46.00px;
}

#slide_OT_EU_PB_a_18_layer_38 {
    position: absolute;
    top: 340px;
    left: 632px;
    text-align: left;
    font-family: MuseoSans-500;
    font-size: 20.00px;
    line-height: 1.10;
    color: #3d4556;
}

#slide_OT_EU_PB_a_18_layer_43 {
    position: absolute;
    top: 442.00px;
    left: 93.44px;
    text-align: left;
    font-family: MuseoSans-700;
    font-size: 17.00px;
    line-height: 1.18;
    color: #3c4455;
}

#slide_OT_EU_PB_a_18_layer_43 span {
    font-family: MuseoSans-300;
}

#slide_OT_EU_PB_a_18_layer_44 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_44.png?v=1029193756607);
    position: absolute;
    top: 376.50px;
    left: 70.00px;
    width: 505.50px;
    height: 151.00px;
}

#slide_OT_EU_PB_a_18_layer_45 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_45.png?v=1029193756607);
    position: absolute;
    top: 353.00px;
    left: 288.50px;
    width: 46.00px;
    height: 46.00px;
}

#slide_OT_EU_PB_a_18_layer_47 {
    position: absolute;
    top: 364.00px;
    left: 69.42px;
    text-align: left;
    font-family: MuseoSans-500;
    font-size: 20.00px;
    line-height: 1.10;
    color: #3d4556;
}

#slide_OT_EU_PB_a_18_layer_50 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_50.png?v=1029193756607);
    position: absolute;
    top: 330px;
    left: 330px;
    width: 46.00px;
    height: 46.00px;
}

#slide_OT_EU_PB_a_18_layer_52 {
    position: absolute;
    top: 442px;
    left: 78px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 17px;
    line-height: 1.3;
    color: #3c4455;
}

#slide_OT_EU_PB_a_18_layer_53 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_53.png?v=1029193756607);
    position: absolute;
    top: 372px;
    left: 62px;
    width: 342px;
    height: 180px;
}

#slide_OT_EU_PB_a_18_layer_54 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_54.png?v=1029193756607);
    position: absolute;
    top: 330px;
    left: 330px;
    width: 46.00px;
    height: 46.00px;
}


#slide_OT_EU_PB_a_18_layer_56 {
    position: absolute;
    top: 340px;
    left: 70px;
    text-align: left;
    font-family: MuseoSans-500;
    font-size: 20.00px;
    line-height: 1.10;
    color: #3d4556;
}

#slide_OT_EU_PB_a_18_layer_60 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_60.png?v=1029193756607);
    position: absolute;
    top: 178.50px;
    left: 752.50px;
    width: 119.50px;
    height: 119.50px;
}

#slide_OT_EU_PB_a_18_layer_61 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_61.png?v=1029193756607);
    position: absolute;
    top: 205.00px;
    left: 627.00px;
    width: 171.50px;
    height: 384.00px;
}

#slide_OT_EU_PB_a_18_layer_62 {
    background-size: contain;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_62.png?v=1029193756607);
    position: absolute;
    top: 268px;
    left: 426.4999999px;
    width: 172.24px;
    height: 379.21px;
    background-repeat: no-repeat;
    background-position: center;
}

#slide_OT_EU_PB_a_18_layer_62.active {
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_62_over.png?v=1029193756607);
}

#slide_OT_EU_PB_a_18_layer_63 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_63.png?v=1029193756607);
    position: absolute;
    top: 533.50px;
    left: 812.50px;
    width: 85.50px;
    height: 41.00px;

}

#slide_OT_EU_PB_a_18_layer_64 {
    position: absolute;
    top: 599.50px;
    left: 677.47px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 12.00px;
    line-height: 1.25;
    color: #3d4556;
}

#slide_OT_EU_PB_a_18_layer_65 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_65.png?v=1029193756607);
    position: absolute;
    top: 601.00px;
    left: 644.00px;
    width: 24.00px;
    height: 24.50px;
}

#slide_OT_EU_PB_a_18_layer_67 {
    position: absolute;
    top: 22.50px;
    left: 70.17px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 38.00px;
    line-height: 1.11;
    color: #77bc1f;
}

#slide_OT_EU_PB_a_18_layer_68 {
    position: absolute;
    top: 85px;
    left: 70px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 38.00px;
    line-height: 1.11;
    color: #77bc1f;
}

#slide_OT_EU_PB_a_18_layer_70 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_70.png?v=1029193756608);
    position: absolute;
    top: 669.00px;
    left: 55.50px;
    width: 86.00px;
    height: 86.50px;
}

#slide_OT_EU_PB_a_18_layer_71 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_71.png?v=1029193756608);
    position: absolute;
    top: 669.00px;
    left: 204.50px;
    width: 86.00px;
    height: 86.50px;
}

#slide_OT_EU_PB_a_18_layer_73 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_73.png?v=1029193756608);
    position: absolute;
    top: 354.00px;
    left: 2.00px;
    width: 1022.00px;
    height: 414.00px;
}

#slide_OT_EU_PB_a_18_layer_74 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_74.png?v=1029193756608);
    position: absolute;
    top: 385.50px;
    left: 492.50px;
    width: 36.50px;
    height: 36.50px;
}

#slide_OT_EU_PB_a_18_layer_75 {
    position: absolute;
    top: 459.50px;
    left: 156.44px;
    font-family: MuseoSans-500;
    font-size: 15.00px;
    line-height: 1.2;
    color: #3d4556;
}

#slide_OT_EU_PB_a_18_layer_77 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_77.png?v=1029193756608);
    position: absolute;
    top: 669.00px;
    left: 130.00px;
    width: 86.00px;
    height: 86.50px;
}

.logo, .caption {
    opacity: 0;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.fadeIn {
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
}

.captions.field { transform:scale(1.2); }

.onetouch {
    position: absolute;
    top: 0;
    left: 0;
    height: 1923px;
    width: 710px;
    background-size: contain;
    background-image: url(../images/OT_EU_PB_a_18/onetouch.png?v=1029193756608);
    transform: translate(158px, -500px) scale(0.244);
    -webkit-transform: translate(158px, -500px) scale(0.244);
    opacity: 0;
    background-repeat: no-repeat;
}

.onetouch.active {
    opacity: 1;
    
}

.logo-color-w {
    position: absolute;
    top: 266.00px;
    left: 270.00px;
    width: 510.50px;
    height: 246.50px;
    transform: translate(145px, 225px) scale(.2);
    -webkit-transform: translate(145px, 225px) scale(.2);
}

.captions.field.a62 { transform: scale(1.2) }



.logo-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 510.50px;
    height: 246.50px;
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_18/slide_OT_EU_PB_a_18_layer_27.png?v=1029193756608);
    opacity: 0;
}

.onetouch-item, .onetouch-min {
    opacity: 0;
}

.title {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.title.active {
    opacity: 1;
}

.text {
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    pointer-events: none !important;
}

.text div {
    pointer-events: none !important;
}

.text.active {
    opacity: 1;
}


.btn-wrapper {
    opacity: 0;
    pointer-events: none !important;
}