#slide_OT_EU_PB_1_background {
    left: 0px;
    top: 0px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
    width: 1024.00px;
    height: 768.00px;
}

#slide_OT_EU_PB_1_layer_1 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/slide_OT_EU_PB_1_layer_1.png?v=1029193756463);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 768.00px;
}

#slide_OT_EU_PB_1_layer_2 {
    position: absolute;
    top: 311.50px;
    left: 70.42px;
    font-style: 300;
    font-family: MuseoSans-300;
    font-size: 36.00px;
    line-height: 1.17;
    color: #74bd26;
}

#slide_OT_EU_PB_1_layer_3 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/slide_OT_EU_PB_1_layer_3.png?v=1029193756463);
    position: absolute;
    top: 411.00px;
    left: 494.50px;
    width: 181.00px;
    height: 181.50px;
}

#slide_OT_EU_PB_1_layer_4 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/slide_OT_EU_PB_1_layer_4.png?v=1029193756463);
    position: absolute;
    top: 411.00px;
    left: 494.50px;
    width: 181.00px;
    height: 181.50px;
}

#slide_OT_EU_PB_1_layer_4 span {
    position: absolute;
    width: 100%;
    left: 0px;
    text-align: center;
    font-family: MuseoSans-700;
    font-size: 30px;
    line-height: 1.2;
    color: #427588;
    top: 70px;
}

#slide_OT_EU_PB_1_layer_5 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/slide_OT_EU_PB_1_layer_5.png?v=1029193756463);
    position: absolute;
    top: 225.00px;
    left: 494.50px;
    width: 181.00px;
    height: 181.00px;
}

#slide_OT_EU_PB_1_layer_6 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/slide_OT_EU_PB_1_layer_6.png?v=1029193756463);
    position: absolute;
    top: 240.50px;
    left: 512.00px;
    width: 141.00px;
    height: 141.00px;
}

#slide_OT_EU_PB_1_layer_7 {
    position: absolute;
    top: 280.00px;
    left: 689.47px;
    font-family: MuseoSans-700;
    font-size: 25.00px;
    line-height: 1.2;
    color: #fff;
}

#slide_OT_EU_PB_1_layer_8 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/slide_OT_EU_PB_1_layer_8.png?v=1029193756463);
    position: absolute;
    top: 46.00px;
    left: 70.50px;
    width: 232.50px;
    height: 48.50px;
}

#slide_OT_EU_PB_1_layer_19 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/slide_OT_EU_PB_1_layer_19.png?v=1029193756463);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1023.50px;
    height: 767.50px;
}

#slide_OT_EU_PB_1_layer_21 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/slide_OT_EU_PB_1_layer_21.png?v=1029193756463);
    position: absolute;
    top: 244.50px;
    left: 76.50px;
    width: 246.00px;
    height: 246.00px;
}

#slide_OT_EU_PB_1_layer_22 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/slide_OT_EU_PB_1_layer_22.png?v=1029193756463);
    position: absolute;
    top: 238.00px;
    left: 49px;
    width: 280.50px;
    height: 317.50px;
}

#slide_OT_EU_PB_1_layer_25 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/slide_OT_EU_PB_1_layer_25.png?v=1029193756463);
    position: absolute;
    top: 244.50px;
    left: 388.00px;
    width: 246.00px;
    height: 246.00px;
}

#slide_OT_EU_PB_1_layer_26 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/slide_OT_EU_PB_1_layer_26.png?v=1029193756463);
    position: absolute;
    top: 238.00px;
    left: 360.00px;
    width: 280.50px;
    height: 317.50px;
}

#slide_OT_EU_PB_1_layer_29 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/slide_OT_EU_PB_1_layer_29.png?v=1029193756463);
    position: absolute;
    top: 244.50px;
    left: 699.00px;
    width: 246.00px;
    height: 246.00px;
}

#slide_OT_EU_PB_1_layer_30 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/slide_OT_EU_PB_1_layer_30.png?v=1029193756463);
    position: absolute;
    top: 238.00px;
    left: 671.00px;
    width: 280.50px;
    height: 317.50px;
}

#slide_OT_EU_PB_1_layer_34 {
    position: absolute;
    top: 540.00px;
    left: 681.97px;
    font-family: MuseoSans-300;
    font-size: 16.00px;
    line-height: 1.2;
    color: #3d4556;
}

#slide_OT_EU_PB_1_layer_36 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/slide_OT_EU_PB_1_layer_36.png?v=1029193756463);
    position: absolute;
    top: 178.00px;
    left: 335.00px;
    width: 40.00px;
    height: 40.00px;
}

#slide_OT_EU_PB_1_layer_38 {
    position: absolute;
    top: 540.50px;
    left: 374.50px;
    font-family: MuseoSans-300;
    font-size: 16.00px;
    line-height: 1.2;
    color: #3d4556;
}

#slide_OT_EU_PB_1_layer_40 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/slide_OT_EU_PB_1_layer_40.png?v=1029193756463);
    position: absolute;
    top: 178.00px;
    left: 645.00px;
    width: 40.00px;
    height: 40.00px;
}

#slide_OT_EU_PB_1_layer_42 {
    position: absolute;
    top: 540.50px;
    left: 69.96px;
    font-family: MuseoSans-300;
    font-size: 16.00px;
    line-height: 1.2;
    color: #3d4556;
}

#slide_OT_EU_PB_1_layer_43 {
    position: absolute;
    top: 187.50px;
    left: 728.97px;
    text-align: center;
    font-family: MuseoSans-700;
    font-size: 18.00px;
    line-height: 1.2;
    color: #427588;
}

#slide_OT_EU_PB_1_layer_44 {
    position: absolute;
    top: 187.50px;
    left: 456.97px;
    text-align: center;
    font-family: MuseoSans-700;
    font-size: 18.00px;
    line-height: 1.2;
    color: #427588;
}

#slide_OT_EU_PB_1_layer_45 {
    position: absolute;
    top: 187.00px;
    left: 93.47px;
    text-align: center;
    font-family: MuseoSans-700;
    font-size: 18.00px;
    line-height: 1.2;
    color: #427588;
}

#slide_OT_EU_PB_1_layer_49 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/slide_OT_EU_PB_1_layer_49.png?v=1029193756463);
    position: absolute;
    top: 661.50px;
    left: 55.00px;
    width: 95.00px;
    height: 95.00px;
}

#slide_OT_EU_PB_1_layer_50 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/slide_OT_EU_PB_1_layer_50.png?v=1029193756463);
    position: absolute;
    top: 661.50px;
    left: 219.50px;
    width: 95.00px;
    height: 95.00px;
}

#slide_OT_EU_PB_1_layer_53 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/slide_OT_EU_PB_1_layer_53.png?v=1029193756464);
    position: absolute;
    top: 317.00px;
    left: 1.50px;
    width: 1022.50px;
    height: 451.00px;
}

#slide_OT_EU_PB_1_layer_54 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/slide_OT_EU_PB_1_layer_54.png?v=1029193756464);
    position: absolute;
    top: 348.50px;
    left: 492.00px;
    width: 36.50px;
    height: 36.50px;
}

#slide_OT_EU_PB_1_layer_56 {
    position: absolute;
    top: 408.50px;
    left: 155.57px;
    vertical-align: super;
    font-family: MuseoSans-500;
    font-size: 15.00px;
    line-height: 1.2;
    color: #3d4556;
}

#slide_OT_EU_PB_1_layer_58 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/slide_OT_EU_PB_1_layer_58.png?v=1029193756464);
    position: absolute;
    top: 661.50px;
    left: 137.50px;
    width: 95.00px;
    height: 95.00px;
}

.chart-wrap {
    position: absolute;
    top: 245.50px;
}
/*.chart {*/
/*transform: rotate(-180deg);*/
/*-webkit-transform: rotate(-180deg);*/
/*}*/
.chart-1 {
    left: 76.50px;
}

.chart-2 {
    left: 388.00px;
}

.chart-3 {
    left: 699.00px;
}

.chart-cap {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/cap.png?v=1029193756464);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 182.00px;
    height: 182.00px;
    margin-top: -91px;
    margin-left: -91px;
}

.chart-mask {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/mask.png?v=1029193756464);
    position: absolute;
    top: 0;
    left: 0;
    width: 246.00px;
    height: 246.00px;
}

.pointer {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/pointer.png?v=1029193756464);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40.50px;
    height: 40.50px;
    margin-top: -20px;
    margin-left: -20px;
}
/*.move-1 {*/
/*-webkit-animation-name: move-1;*/
/*-webkit-animation-duration: .9s;*/
/*-webkit-animation-fill-mode: both;*/
/*-webkit-animation-timing-function: linear;*/
/*-webkit-animation-delay: .1s;*/
/*}*/
/*@keyframes move-1 {*/
/*0% {transform: rotate(-90deg) translate(-100px) rotate(-90deg); }*/
/*100% {transform: rotate(160deg) translate(-100px) rotate(160deg);}*/
/*}*/
/*.move-2 {*/
/*-webkit-animation-name: move-2;*/
/*-webkit-animation-duration: .9s;*/
/*-webkit-animation-fill-mode: both;*/
/*-webkit-animation-timing-function: linear;*/
/*-webkit-animation-delay: .1s;*/
/*}*/
/*@keyframes move-2 {*/
/*0% {transform: rotate(-90deg) translate(-100px) rotate(-90deg);}*/
/*100% {transform: rotate(100deg) translate(-100px) rotate(100deg);}*/
/*}*/
/*.move-3 {*/
/*-webkit-animation-name: move-3;*/
/*-webkit-animation-duration: .9s;*/
/*-webkit-animation-fill-mode: both;*/
/*-webkit-animation-timing-function: linear;*/
/*-webkit-animation-delay: .1s;*/
/*}*/
/*@keyframes move-3 {*/
/*0% {transform: rotate(-90deg) translate(-100px) rotate(-90deg);}*/
/*100% {transform: rotate(192deg) translate(-100px) rotate(192deg);}*/
/*}*/
.zero, .value {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    pointer-events: none !important;
}

.zero.active, .value.active {
    opacity: 1;
}

.zero {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/zero.png?v=1029193756464);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 44px;
    height: 64px;
    margin-top: -32px;
    margin-left: -22px;
}

.value {
    position: absolute;
    top: 95px;
    left: 50%;
}

.value.v1 {
    width: 132px;
    height: 53px;
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/v1.png?v=1029193756464);
    margin-left: -66px;
}

.value.v2 {
    width: 114px;
    height: 51px;
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/v2.png?v=1029193756464);
    margin-left: -57px;
}

.value.v3 {
    width: 112px;
    height: 53px;
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/v3.png?v=1029193756464);
    margin-left: -56px;
}

.caption, .text {
    opacity: 0;
}

.view-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 1024px;
    height: 768px;
    pointer-events: none;
    background: #fefefe;
}

.view-wrap.active {
    opacity: 1;
    pointer-events: auto;
}

.view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0px;
}

.fake-wrap {
    position: absolute;
    top: 0;
    left: 0;
}

.extra-text {
    position: absolute;
    top: 644.5px;
    left: 72.47px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 20.00px;
    line-height: 1.10;
    color: #3d4556;
}

.btn-skip {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/btn-skip.png);
    position: absolute;
    bottom:100px;
    right: 50px;
    height: 42.5px;
    width: 94.5px;
}

.btn-wheel {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_1/btn-wheel.png);
    position: absolute;
    bottom: 100px;
    right: 160px;
    height: 42.5px;
    width: 201.5px;
}

