#slide_OT_EU_PB_a_9_background {
    left: 0px;
    top: 0px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
    width: 1024.00px;
    height: 768.00px;
}

#slide_OT_EU_PB_a_9_layer_1 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_9/slide_OT_EU_PB_a_9_layer_1.png?v=1029193756770);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 768.00px;
}

#slide_OT_EU_PB_a_9_layer_2 {
    position: absolute;
    top: 88px;
    left: 70.92px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 38.00px;
    line-height: 1.11;
    color: #77BC1F;
}

#slide_OT_EU_PB_a_9_layer_3 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_9/slide_OT_EU_PB_a_9_layer_3.png?v=1029193756770);
    position: absolute;
    top: 196px;
    left: 773px;
    width: 112px;
    height: 112px;
}

#slide_OT_EU_PB_a_9_layer_4 {
    background-size: contain;
    background-image: url(../images/OT_EU_PB_a_9/slide_OT_EU_PB_a_9_layer_39.png?v=1029193756770);
    position: absolute;
    top: 220px;
    left: 672px;
    width: 171.50px;
    height: 344px;
    background-repeat: no-repeat;
}

#slide_OT_EU_PB_a_9_layer_5 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_9/slide_OT_EU_PB_a_9_layer_5.png?v=1029193756770);
    position: absolute;
    top: 510px;
    left: 827px;
    width: 85.50px;
    height: 41.00px;
}

#slide_OT_EU_PB_a_9_layer_6 {
    position: absolute;
    top: 575px;
    left: 703.47px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 11px;
    line-height: 1.25;
    color: #3D4556;
}

#slide_OT_EU_PB_a_9_layer_7 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_9/slide_OT_EU_PB_a_9_layer_7.png?v=1029193756770);
    position: absolute;
    top: 575.00px;
    left: 672px;
    width: 24.00px;
    height: 24.50px;
}

#slide_OT_EU_PB_a_9_layer_8 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_9/slide_OT_EU_PB_a_9_layer_8.png?v=1029193756771);
    position: absolute;
    left: 86px;
    top: 392px;
    width: 170px;
    height: 230px;
}

#slide_OT_EU_PB_a_9_layer_9 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_9/slide_OT_EU_PB_a_9_layer_9.png?v=1029193756771);
    position: absolute;
    left: 207.00px;
    top: 508px;
    width: 237px;
    height: 40.00px;
}

#slide_OT_EU_PB_a_9_layer_10 {
    position: absolute;
    text-align: left;
    font-family: MuseoSans-300;
    color: #3C4455;
    left: 110px;
    top: 255px;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.1;
}

#slide_OT_EU_PB_a_9_layer_10 span {
    font-family: MuseoSans-500;
}

#slide_OT_EU_PB_a_9_layer_11 {
    position: absolute;
    top: 210px;
    left: 110px;
    text-align: left;
    font-family: MuseoSans-700;
    font-size: 27px;
    line-height: 0.92;
    color: #3D4556;
}

#slide_OT_EU_PB_a_9_layer_13 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_9/slide_OT_EU_PB_a_9_layer_13.png?v=1029193756771);
    position: absolute;
    top: 109.50px;
    left: 54.50px;
    width: 915.00px;
    height: 551.00px;
}

#slide_OT_EU_PB_a_9_layer_14 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_9/slide_OT_EU_PB_a_9_layer_14.png?v=1029193756771);
    position: absolute;
    top: 451.50px;
    left: 125.50px;
    width: 772.50px;
    height: 1.00px;
}

#slide_OT_EU_PB_a_9_layer_15 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_9/slide_OT_EU_PB_a_9_layer_15.png?v=1029193756771);
    position: absolute;
    top: 279.00px;
    left: 125.50px;
    width: 772.50px;
    height: 1.00px;
}

#slide_OT_EU_PB_a_9_layer_17 {
    position: absolute;
    top: 494.00px;
    left: 137.98px;
    text-align: center;
    font-family: MuseoSans-300;
    font-size: 15.00px;
    line-height: 1.20;
    color: #3C4455;
}

#slide_OT_EU_PB_a_9_layer_17 span {
    font-family: MuseoSans-700;
}

#slide_OT_EU_PB_a_9_layer_18 {
    position: absolute;
    top: 311.00px;
    left: 108.92px;
    text-align: center;
    font-family: MuseoSans-700;
    font-size: 21px;
    line-height: 1.2;
    color: #3C4455;
}

#slide_OT_EU_PB_a_9_layer_19 {
    position: absolute;
    top: 181.00px;
    left: 113.42px;
    text-align: center;
    font-family: MuseoSans-300;
    font-size: 16px;
    line-height: 1.20;
    color: #3C4455;
}

#slide_OT_EU_PB_a_9_layer_20 {
    position: absolute;
    top: 551px;
    left: 482px;
    width: 158px;
    height: 32px;
}

.popup {
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, transform .3s;
    transition: opacity .3s, transform .3s, -webkit-transform .3s;
}

.popup {
    background-image: url(../images/OT_EU_PB_a_9/book-popup.png);
    background-size: 935px;
    background-repeat: no-repeat;
    background-position: 2px 160px;
}

.popup div {
    pointer-events: none;
}

.popup.active {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    pointer-events: auto;
}

.popup.active div {
    pointer-events: auto;
}

.extra-text {
    position: absolute;
    top: 595px;
    left: 72.47px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 18px;
    line-height: 1.10;
    color: #3d4556;
}