#slide_OT_EU_PB_4_background {
    left: 0px;
    top: 0px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
    width: 1024.00px;
    height: 768.00px;
}

#slide_OT_EU_PB_4_layer_1 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_4/slide_OT_EU_PB_4_layer_1.png?v=1029193756565);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 768.00px;
}

#slide_OT_EU_PB_4_layer_3 {
    position: absolute;
    top: 599.50px;
    left: 585.97px;
    font-style: 300;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 12.00px;
    line-height: 1.25;
    color: #3D4556;
}

#slide_OT_EU_PB_4_layer_4 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_4/slide_OT_EU_PB_4_layer_4.png?v=1029193756565);
    position: absolute;
    top: 601.00px;
    left: 552.50px;
    width: 24.00px;
    height: 24.50px;
}

#slide_OT_EU_PB_4_layer_5 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_4/slide_OT_EU_PB_4_layer_5.png?v=1029193756565);
    position: absolute;
    top: 533.00px;
    left: 703.00px;
    width: 85.50px;
    height: 41.00px;
}

#slide_OT_EU_PB_4_layer_6 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_4/slide_OT_EU_PB_4_layer_6.png?v=1029193756565);
    position: absolute;
    top: 194px;
    left: 632px;
    width: 130px;
    height: 130px;
}

#slide_OT_EU_PB_4_layer_7 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_4/slide_OT_EU_PB_4_layer_7.png?v=1029193756565);
    position: absolute;
    top: 220px;
    left: 510px;
    width: 158px;
    height: 430px;
}

#slide_OT_EU_PB_4_layer_8 {
    position: absolute;
    top: 350px;
    left: 694px;
    text-align: left;
    font-family: MuseoSans-700;
    font-size: 20.00px;
    line-height: 1.10;
    color: #3D4556;
    letter-spacing: -.5px;
}

#slide_OT_EU_PB_4_layer_9 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_4/slide_OT_EU_PB_4_layer_9.png?v=1029193756565);
    position: absolute;
    top: 250px;
    left: 155px;
    width: 100px;
    height: 100px;
}

#slide_OT_EU_PB_4_layer_10 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_4/slide_OT_EU_PB_4_layer_10.png?v=1029193756565);
    position: absolute;
    top: 253px;
    left: 25px;
    width: 193px;
    height: 356px;
}

#slide_OT_EU_PB_4_layer_11 {
    position: absolute;
    top: 350px;
    left: 235px;
    text-align: left;
    font-family: MuseoSans-500;
    font-size: 20.00px;
    line-height: 1.10;
    color: #3D4556;
    letter-spacing: .2px;
}

#slide_OT_EU_PB_4_layer_13 {
    position: absolute;
    top: 382px;
    left: 694px;
    text-align: left;
    font-family: MuseoSans-500;
    font-size: 17.00px;
    line-height: 1.18;
    color: #3C4455;
}

#slide_OT_EU_PB_4_layer_13 span {
    font-family: MuseoSans-700;
}

#slide_OT_EU_PB_4_layer_14 {
    position: absolute;
    top: 390px;
    left: 235px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 17.00px;
    line-height: 1.18;
    color: #3C4455;
}

#slide_OT_EU_PB_4_layer_14 span {
    font-family: MuseoSans-700;
}

#slide_OT_EU_PB_4_layer_17 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_4/slide_OT_EU_PB_4_layer_17.png?v=1029193756565);
    position: absolute;
    top: 349.00px;
    left: 231.00px;
    width: 745.00px;
    height: 282.00px;
}

#slide_OT_EU_PB_4_layer_18 {
    position: absolute;
    top: 599.50px;
    left: 585.97px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 12.00px;
    line-height: 1.25;
    color: #3D4556;
}

#slide_OT_EU_PB_4_layer_19 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_4/slide_OT_EU_PB_4_layer_19.png?v=1029193756565);
    position: absolute;
    top: 382.00px;
    left: 682.5px;
    width: 232.50px;
    height: 118.00px;
}

#slide_OT_EU_PB_4_layer_20 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_4/slide_OT_EU_PB_4_layer_20.png?v=1029193756565);
    position: absolute;
    top: 382.00px;
    left: 225.00px;
    width: 273.50px;
    height: 118.00px;
}

#slide_OT_EU_PB_4_layer_35 {
    position: absolute;
    top: 105px;
    left: 70.57px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 38.00px;
    line-height: 1.11;
    color: #77BC1F;
    letter-spacing: .2px;
}

.call {
    opacity: 0;
}

.light {
    -webkit-animation-name: light;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes light {
    0% {
        opacity: 0
    }

    20% {
        opacity: 1
    }

    40% {
        opacity: .4
    }

    60% {
        opacity: 1
    }

    80% {
        opacity: .4
    }

    100% {
        opacity: 1
    }
}