#slide_OT_EU_PB_8_background {
    left: 0px;
    top: 0px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
    width: 1024.00px;
    height: 724.00px;
}

#slide_OT_EU_PB_8_layer_1 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_8/slide_OT_EU_PB_8_layer_1.png);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 724.00px;
}

#slide_OT_EU_PB_8_layer_2 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_8/slide_OT_EU_PB_8_layer_2.png);
    position: absolute;
    top: 230px;
    left: 698px;
    width: 259px;
    height: 104px;
}

#slide_OT_EU_PB_8_layer_4 {
    position: absolute;
    top: 554px;
    left: 138px;
    font-style: 700;
    text-align: left;
    font-family: MuseoSans-700;
    font-size: 20.00px;
    line-height: 1.15;
    color: #3c4455;
}

#slide_OT_EU_PB_8_layer_6 {
    position: absolute;
    top: 568px;
    left: 545px;
    text-align: left;
    font-family: MuseoSans-700;
    font-size: 20.00px;
    line-height: 1.15;
    color: #3c4455;
}

#slide_OT_EU_PB_8_layer_7 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_8/slide_OT_EU_PB_8_layer_7.png?v=1029193756578);
    position: absolute;
    top: 555px;
    left: 485px;
    width: 510px;
    height: 72px;
}

#slide_OT_EU_PB_8_layer_9 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_8/slide_OT_EU_PB_8_layer_9.png?v=1029193756578);
    position: absolute;
    top: 570px;
    left: 442px;
    width: 46.00px;
    height: 46.00px;
}

#slide_OT_EU_PB_8_layer_12 {
    position: absolute;
    top: 463px;
    left: 138px;
    font-style: 700;
    text-align: left;
    font-family: MuseoSans-700;
    font-size: 20.00px;
    line-height: 1.15;
    color: #3c4455;
}

#slide_OT_EU_PB_8_layer_14 {
    position: absolute;
    top: 463px;
    left: 390px;
    text-align: left;
    font-family: MuseoSans-700;
    font-size: 20.00px;
    line-height: 1.15;
    color: #3c4455;
}

#slide_OT_EU_PB_8_layer_15 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_8/slide_OT_EU_PB_8_layer_15.png?v=1029193756578);
    position: absolute;
    top: 450px;
    left: 339px;
    width: 657px;
    height: 72px;
}

#slide_OT_EU_PB_8_layer_17 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_8/slide_OT_EU_PB_8_layer_17.png?v=1029193756578);
    position: absolute;
    top: 465px;
    left: 296px;
    width: 46.00px;
    height: 46.00px;
}

#slide_OT_EU_PB_8_layer_20 {
    position: absolute;
    top: 360px;
    left: 138px;
    font-style: 700;
    text-align: left;
    font-family: MuseoSans-700;
    font-size: 20.00px;
    line-height: 1.15;
    color: #3c4455;
}

#slide_OT_EU_PB_8_layer_22 {
    position: absolute;
    top: 374px;
    left: 410px;
    text-align: left;
    font-family: MuseoSans-700;
    font-size: 20.00px;
    line-height: 1.15;
    color: #3c4455;
}

#slide_OT_EU_PB_8_layer_23 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_8/slide_OT_EU_PB_8_layer_23.png?v=1029193756578);
    position: absolute;
    top: 360px;
    left: 373px;
    width: 558px;
    height: 50px;
}

#slide_OT_EU_PB_8_layer_25 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_8/slide_OT_EU_PB_8_layer_25.png?v=1029193756578);
    position: absolute;
    top: 364px;
    left: 330px;
    width: 46.00px;
    height: 46.00px;
}

#slide_OT_EU_PB_8_layer_27 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_8/ico-guidance.png?v=1029193756578);
    position: absolute;
    top: 346px;
    left: 48px;
    width: 73.50px;
    height: 74.00px;
}

#slide_OT_EU_PB_8_layer_28 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_8/ico-engage.png?v=1029193756578);
    position: absolute;
    top: 448.00px;
    left: 48px;
    width: 73.50px;
    height: 74.00px;
}

#slide_OT_EU_PB_8_layer_29 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_8/ico-confidence.png?v=1029193756578);
    position: absolute;
    top: 550.00px;
    left: 48px;
    width: 73.50px;
    height: 74.00px;
}

#slide_OT_EU_PB_8_layer_30 {
    position: absolute;
    top: 111px;
    left: 58px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 38px;
    line-height: 1.11;
    color: #77bc1f;
}

#slide_OT_EU_PB_8_layer_32 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_8/slide_OT_EU_PB_8_layer_32.png?v=1029193756578);
    position: absolute;
    top: 669.00px;
    left: 55.50px;
    width: 86.00px;
    height: 86.50px;
}

#slide_OT_EU_PB_8_layer_33 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_8/slide_OT_EU_PB_8_layer_33.png?v=1029193756578);
    position: absolute;
    top: 669.00px;
    left: 204.50px;
    width: 86.00px;
    height: 86.50px;
}

#slide_OT_EU_PB_8_layer_36 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_8/slide_OT_EU_PB_8_layer_36.png?v=1029193756578);
    position: absolute;
    top: 361.00px;
    left: 2.00px;
    width: 1022.00px;
    height: 407.00px;
}

#slide_OT_EU_PB_8_layer_37 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_8/slide_OT_EU_PB_8_layer_37.png?v=1029193756578);
    position: absolute;
    top: 392.50px;
    left: 492.50px;
    width: 36.50px;
    height: 36.50px;
}

#slide_OT_EU_PB_8_layer_39 {
    position: absolute;
    top: 441.50px;
    left: 155.48px;
    vertical-align: super;
    font-family: MuseoSans-500;
    font-size: 15.00px;
    line-height: 1.2;
    color: #3d4556;
}

#slide_OT_EU_PB_8_layer_41 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_8/slide_OT_EU_PB_8_layer_41.png?v=1029193756578);
    position: absolute;
    top: 669.00px;
    left: 130.00px;
    width: 86.00px;
    height: 86.50px;
}

span {
    font-family: MuseoSans-300;
}

.light {
    -webkit-animation-name: light;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes light {
    0% {
        opacity: 0
    }

    20% {
        opacity: 1
    }

    40% {
        opacity: .4
    }

    60% {
        opacity: 1
    }

    80% {
        opacity: .4
    }

    100% {
        opacity: 1
    }
}

.text {
    opacity: 0;
}
