#slide_OT_EU_PB_a_25_background {
    left: 0px;
    top: 0px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
    width: 1024.00px;
    height: 768.00px;
}

#slide_OT_EU_PB_a_25_layer_1 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_25/slide_OT_EU_PB_a_25_layer_1.png?v=1029193756730);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 768.00px;
}

#slide_OT_EU_PB_a_25_layer_2 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_25/slide_OT_EU_PB_a_25_layer_2.png?v=1029193756730);
    position: absolute;
    top: 105px;
    left: 744.50px;
    width: 238.50px;
    height: 471.00px;
}

#slide_OT_EU_PB_a_25_layer_4 {
    position: absolute;
    top: 585px;
    left: 544.47px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 12.00px;
    line-height: 1.25;
    color: #3D4556;
}

#slide_OT_EU_PB_a_25_layer_5 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_25/slide_OT_EU_PB_a_25_layer_5.png?v=1029193756730);
    position: absolute;
    top: 585.00px;
    left: 511.00px;
    width: 24.00px;
    height: 24.50px;
}

#slide_OT_EU_PB_a_25_layer_6 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_25/slide_OT_EU_PB_a_25_layer_6.png?v=1029193756730);
    position: absolute;
    top: 170px;
    left: 609.50px;
    width: 119.50px;
    height: 119.50px;
}

#slide_OT_EU_PB_a_25_layer_7 {
    background-size: contain;
    background-image: url(../images/OT_EU_PB_a_25/slide_OT_EU_PB_a_25_layer_7.png?v=1029193756730);
    position: absolute;
    top: 198px;
    left: 504px;
    width: 171.50px;
    height: 384.00px;
    background-repeat: no-repeat;
}

#slide_OT_EU_PB_a_25_layer_11 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_25/slide_OT_EU_PB_a_25_layer_11.png?v=1029193756730);
    position: absolute;
    top: 540px;
    left: 149.50px;
    width: 125.50px;
    height: 40.50px;
}

#slide_OT_EU_PB_a_25_layer_12 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_25/slide_OT_EU_PB_a_25_layer_12.png?v=1029193756730);
    position: absolute;
    top: 540px;
    left: 284.50px;
    width: 133.50px;
    height: 39.50px;
}

#slide_OT_EU_PB_a_25_layer_14 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_25/slide_OT_EU_PB_a_25_layer_14.png?v=1029193756730);
    position: absolute;
    top: 320.5px;
    left: 20.50px;
    width: 420.00px;
    height: 287.50px;
}

#slide_OT_EU_PB_a_25_layer_14 p {
    margin: 201px 157px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 10px;
    line-height: 0.60;
    color: #3D4556;
}

#slide_OT_EU_PB_a_25_layer_15 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_25/slide_OT_EU_PB_a_25_layer_15.png?v=1029193756730);
    position: absolute;
    top: 232.5px;
    left: 20.50px;
    width: 420.00px;
    height: 374px;
}

#slide_OT_EU_PB_a_25_layer_16 {
    position: absolute;
    top: 392px;
    left: 151.92px;
    text-align: left;
    font-family: MuseoSans-700;
    font-size: 20.00px;
    line-height: 1.15;
    color: #3D4556;
    letter-spacing: -.1px;
}

#slide_OT_EU_PB_a_25_layer_17 {
    position: absolute;
    top: 301px;
    left: 150.97px;
    text-align: left;
    font-family: MuseoSans-700;
    font-size: 20.00px;
    line-height: 1.15;
    color: #3D4556;
    letter-spacing: .1px;
}

#slide_OT_EU_PB_a_25_layer_18 {
    position: absolute;
    top: 228px;
    left: 151.42px;
    text-align: left;
    font-family: MuseoSans-700;
    font-size: 20.00px;
    line-height: 0.60;
    color: #3D4556;
}

#slide_OT_EU_PB_a_25_layer_20 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_25/slide_OT_EU_PB_a_25_layer_20.png?v=1029193756730);
    position: absolute;
    top: 389px;
    left: 71.50px;
    width: 57.00px;
    height: 57.00px;
}

#slide_OT_EU_PB_a_25_layer_21 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_25/slide_OT_EU_PB_a_25_layer_21.png?v=1029193756730);
    position: absolute;
    top: 292.00px;
    left: 68.50px;
    width: 63.00px;
    height: 63.00px;
}

#slide_OT_EU_PB_a_25_layer_22 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_25/slide_OT_EU_PB_a_25_layer_22.png?v=1029193756731);
    position: absolute;
    top: 205.50px;
    left: 68.50px;
    width: 63.00px;
    height: 63.00px;
}

#slide_OT_EU_PB_a_25_layer_25 {
    position: absolute;
    top: 92.5px;
    left: 70.92px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 38.00px;
    line-height: 1.11;
    color: #77BC1F;
    letter-spacing: .2px;
}

.text {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, transform .3s;
    transition: opacity .3s, transform .3s, -webkit-transform .3s;
}

.text.active {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}


.options {
    position: relative;
    top: -40px;
}