#slide_OT_EU_PB_a_33_background {
    left: 0px;
    top: 0px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
    width: 1024.00px;
    height: 768.00px;
}

#slide_OT_EU_PB_a_33_layer_1 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_33/slide_OT_EU_PB_a_33_layer_1.png?v=1029193756766);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1023.50px;
    height: 768.00px;
}

#slide_OT_EU_PB_a_33_layer_3 {
    position: absolute;
    top: 458.24px;
    left: 73.92px;
    font-style: 100;
    text-align: left;
    font-family: MuseoSansCyrl-100;
    font-size: 63.49px;
    line-height: 1.10;
    color: #77BC1F;
}

#slide_OT_EU_PB_a_33_layer_4 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_33/slide_OT_EU_PB_a_33_layer_4.png?v=1029193756766);
    position: absolute;
    top: 0.00px;
    left: 135.00px;
    width: 889.00px;
    height: 577.50px;
}

#slide_OT_EU_PB_a_33_layer_6 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_33/slide_OT_EU_PB_a_33_layer_6.png?v=1029193756766);
    position: absolute;
    top: 553.00px;
    left: 70.00px;
    width: 175.00px;
    height: 40.00px;
}

#slide_OT_EU_PB_a_33_layer_7 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_33/slide_OT_EU_PB_a_33_layer_7.png?v=1029193756766);
    position: absolute;
    top: 684.00px;
    left: 729.00px;
    width: 232.50px;
    height: 48.50px;
}

#slide_OT_EU_PB_a_33_layer_9 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_33/slide_OT_EU_PB_a_33_layer_9.png?v=1029193756766);
    position: absolute;
    top: 669.00px;
    left: 279.00px;
    width: 86.00px;
    height: 86.50px;
}

#slide_OT_EU_PB_a_33_layer_10 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_33/slide_OT_EU_PB_a_33_layer_10.png?v=1029193756766);
    position: absolute;
    top: 669.00px;
    left: 204.50px;
    width: 86.00px;
    height: 86.50px;
}

#slide_OT_EU_PB_a_33_layer_11 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_33/slide_OT_EU_PB_a_33_layer_11.png?v=1029193756766);
    position: absolute;
    top: 669.00px;
    left: 55.50px;
    width: 86.00px;
    height: 86.50px;
}

#slide_OT_EU_PB_a_33_layer_13 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_33/slide_OT_EU_PB_a_33_layer_13.png?v=1029193756766);
    position: absolute;
    top: 367.00px;
    left: 2.00px;
    width: 1022.00px;
    height: 401.00px;
}

#slide_OT_EU_PB_a_33_layer_14 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_33/slide_OT_EU_PB_a_33_layer_14.png?v=1029193756766);
    position: absolute;
    top: 398.50px;
    left: 492.50px;
    width: 36.50px;
    height: 36.50px;
}

#slide_OT_EU_PB_a_33_layer_15 {
    position: absolute;
    top: 486.00px;
    left: 155.48px;
    font-style: 500;
    font-family: MuseoSans-500;
    font-size: 15.00px;
    line-height: 1.2;
    color: #3D4556;
}

#slide_OT_EU_PB_a_33_layer_17 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_33/slide_OT_EU_PB_a_33_layer_17.png?v=1029193756766);
    position: absolute;
    top: 669.00px;
    left: 130.00px;
    width: 86.00px;
    height: 86.50px;
}
