#slide_OT_EU_PB_a_23_background {
    left: 0px;
    top: 0px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
    width: 1024.00px;
    height: 768.00px;
}

#slide_OT_EU_PB_a_23_layer_1 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_1.png?v=1029193756705);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1023.50px;
    height: 768.00px;
}

#slide_OT_EU_PB_a_23_layer_4 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_4.png?v=1029193756705);
    position: absolute;
    top: 286.00px;
    left: 894.00px;
    width: 61.50px;
    height: 61.50px;
}

#slide_OT_EU_PB_a_23_layer_5 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_5.png?v=1029193756705);
    position: absolute;
    top: 286.00px;
    left: 810.50px;
    width: 62.00px;
    height: 62.00px;
}

#slide_OT_EU_PB_a_23_layer_6 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_6.png?v=1029193756705);
    position: absolute;
    top: 286.00px;
    left: 727.00px;
    width: 62.00px;
    height: 61.50px;
}

#slide_OT_EU_PB_a_23_layer_7 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_7.png?v=1029193756705);
    position: absolute;
    top: 286.00px;
    left: 727.00px;
    width: 62.00px;
    height: 61.50px;
}

#slide_OT_EU_PB_a_23_layer_8 {
    position: absolute;
    top: 355.00px;
    left: 723.94px;
    text-align: left;
    font-family: MuseoSans-500;
    font-size: 15.00px;
    line-height: 2.33;
    color: #b8b3ac;
}

#slide_OT_EU_PB_a_23_layer_9 {
    position: absolute;
    top: 355.00px;
    left: 817.92px;
    text-align: left;
    font-family: MuseoSans-500;
    font-size: 15.00px;
    line-height: 2.33;
    color: #b8b3ac;
}

#slide_OT_EU_PB_a_23_layer_10 {
    position: absolute;
    top: 355.00px;
    left: 896.92px;
    text-align: center;
    font-family: MuseoSans-500;
    font-size: 15.00px;
    line-height: 1.13;
    color: #b8b3ac;
}

#slide_OT_EU_PB_a_23_layer_14 {
    position: absolute;
    top: 420px;
    left: 720.47px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 18px;
    line-height: 1.10;
    color: #3D4556;
}

#slide_OT_EU_PB_a_23_layer_16 {
    position: absolute;
    top: 614.00px;
    left: 103.47px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 12.00px;
    line-height: 1.25;
    color: #3d4556;
}

#slide_OT_EU_PB_a_23_layer_17 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_17.png?v=1029193756705);
    position: absolute;
    top: 615.50px;
    left: 70.00px;
    width: 24.00px;
    height: 24.50px;
}

#slide_OT_EU_PB_a_23_layer_18 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_18.png?v=1029193756705);
    position: absolute;
    top: 547.00px;
    left: 230.00px;
    width: 80.00px;
    height: 38.50px;
}

#slide_OT_EU_PB_a_23_layer_19 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_19.png?v=1029193756705);
    position: absolute;
    top: 214.00px;
    left: 173.50px;
    width: 111.50px;
    height: 111.50px;
}

#slide_OT_EU_PB_a_23_layer_20 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_20.png?v=1029193756706);
    position: absolute;
    top: 238.50px;
    left: 55.50px;
    width: 161.00px;
    height: 360.50px;
}

#slide_OT_EU_PB_a_23_layer_22 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_22.png?v=1029193756706);
    position: absolute;
    top: 409.50px;
    left: 278.50px;
    width: 10.50px;
    height: 32.50px;
}

#slide_OT_EU_PB_a_23_layer_23 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_23.png?v=1029193756706);
    position: absolute;
    top: 399.00px;
    left: 288.50px;
    width: 13.00px;
    height: 53.50px;
}

#slide_OT_EU_PB_a_23_layer_24 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_24.png?v=1029193756706);
    position: absolute;
    top: 387.50px;
    left: 299.00px;
    width: 15.50px;
    height: 76.00px;
}

#slide_OT_EU_PB_a_23_layer_25 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_25.png?v=1029193756706);
    position: absolute;
    top: 421.50px;
    left: 266.50px;
    width: 9.00px;
    height: 9.00px;
}

#slide_OT_EU_PB_a_23_layer_28 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_28.png?v=1029193756706);
    position: absolute;
     top: 160px;
    left: 346.00px;
    width: 392.00px;
    height: 554.50px;
}

#slide_OT_EU_PB_a_23_layer_29 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_29.png?v=1029193756706);
    position: absolute;
    top: 172.50px;
    left: 410.00px;
    width: 188.50px;
    height: 408.00px;
}

#slide_OT_EU_PB_a_23_layer_30 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_30.png?v=1029193756706);
    position: absolute;
    top: 374.50px;
    left: 440.00px;
    width: 129.50px;
    height: 14.50px;
}

#slide_OT_EU_PB_a_23_layer_33 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_33.png?v=1029193756706);
    position: absolute;
    top: 212.5px;
    left: 400px;
    width: 189px;
    height: 408.00px;
}

#slide_OT_EU_PB_a_23_layer_37 {
    position: absolute;
    top: 638.00px;
    left: 444.47px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 12.00px;
    line-height: 1.25;
    color: #3d4556;
}

#slide_OT_EU_PB_a_23_layer_38 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_38.png?v=1029193756706);
    position: absolute;
    top: 639.50px;
    left: 411.00px;
    width: 24.00px;
    height: 24.50px;
}

#slide_OT_EU_PB_a_23_layer_39 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_39.png?v=1029193756706);
    position: absolute;
    top: 208px;
    left: 552px;
    width: 117.50px;
    height: 117.50px;
}

#slide_OT_EU_PB_a_23_layer_40 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_40.png?v=1029193756706);
    position: absolute;
    top: 220px;
    left: 383.00px;
    width: 243.50px;
    height: 429.50px;
}

#slide_OT_EU_PB_a_23_layer_40.left {
    width: 235px;
    height: 414px;
    top: 210px;
}

#slide_OT_EU_PB_a_23_layer_41 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_41.png?v=1029193756706);
    position: absolute;
    top: 552.00px;
    left: 609.50px;
    width: 93.50px;
    height: 45.00px;
}

#slide_OT_EU_PB_a_23_layer_42 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_42.png?v=1029193756706);
    position: absolute;
    top: 357px;
    left: 450px;
    width: 110px;
    height: 136.5px;
}

div#slide_OT_EU_PB_a_23_layer_42.left {
    top: 343px;
    width: 107px;
    left: 447px;
    height: 133px;
}

#slide_OT_EU_PB_a_23_layer_45 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_45.png?v=1029193756706);
position: absolute;
    top: 106px;
    left: 677.00px;
    width: 347.00px;
    height: 525.00px;
}

#slide_OT_EU_PB_a_23_layer_46 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_46.png?v=1029193756706);
    position: absolute;
    top: 340px;
    left: 700.00px;
    width: 51.00px;
    height: 51.00px;
}

#slide_OT_EU_PB_a_23_layer_47 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_47.png?v=1029193756706);
    position: absolute;
    top: 275.00px;
    left: 787.00px;
    width: 193.00px;
    height: 265.00px;
}

#slide_OT_EU_PB_a_23_layer_48 {
    position: absolute;
    top: 210px;
    left: 798.92px;
    text-align: left;
    font-family: MuseoSans-500;
    font-size: 20.00px;
    line-height: 1.2;
    color: #3d4556;
}

#slide_OT_EU_PB_a_23_layer_51 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_51.png?v=1029193756706);
    position: absolute;
    top: 164.50px;
    left: 948.00px;
    width: 76.00px;
    height: 521.00px;
}

#slide_OT_EU_PB_a_23_layer_52 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_52.png?v=1029193756706);
    position: absolute;
    top: 393.00px;
    left: 971.00px;
    width: 51.00px;
    height: 51.00px;
}

#slide_OT_EU_PB_a_23_layer_55 {
position: absolute;
    top: 90px;
    left: 35px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 28px;
    line-height: 1.11;
    color: #77BC1F;
    letter-spacing: .2px;
}


.competitor-wrap.field {
    top: 50px;
}

#slide_OT_EU_PB_a_23_layer_57 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_57.png?v=1029193756706);
    position: absolute;
    top: 669.00px;
    left: 353.50px;
    width: 86.00px;
    height: 86.50px;
}

#slide_OT_EU_PB_a_23_layer_58 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_58.png?v=1029193756706);
    position: absolute;
    top: 669.00px;
    left: 279.00px;
    width: 86.00px;
    height: 86.50px;
}

#slide_OT_EU_PB_a_23_layer_59 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_59.png?v=1029193756706);
    position: absolute;
    top: 669.00px;
    left: 55.50px;
    width: 86.00px;
    height: 86.50px;
}

#slide_OT_EU_PB_a_23_layer_60 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_60.png?v=1029193756706);
    position: absolute;
    top: 669.00px;
    left: 204.50px;
    width: 86.00px;
    height: 86.50px;
}

#slide_OT_EU_PB_a_23_layer_62 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_62.png?v=1029193756706);
    position: absolute;
    top: 367.00px;
    left: 2.00px;
    width: 1022.00px;
    height: 401.00px;
}

#slide_OT_EU_PB_a_23_layer_63 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_63.png?v=1029193756706);
    position: absolute;
    top: 398.50px;
    left: 492.50px;
    width: 36.50px;
    height: 36.50px;
}

#slide_OT_EU_PB_a_23_layer_64 {
    position: absolute;
    top: 448.00px;
    left: 155.48px;
    font-family: MuseoSans-500;
    font-size: 15.00px;
    line-height: 1.2;
    color: #3d4556;
}

#slide_OT_EU_PB_a_23_layer_66 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_23/slide_OT_EU_PB_a_23_layer_66.png?v=1029193756706);
    position: absolute;
    top: 669.00px;
    left: 130.00px;
    width: 86.00px;
    height: 86.50px;
}

.view, .screen {
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.view.active, .screen.active {
    pointer-events: auto;
    opacity: 1;
}

.competitor-wrap {
    -webkit-transition: transform .4s ease-in-out;
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
    -webkit-transform: translateX(270px);
    transform: translateX(270px);
}

.competitor-wrap.active {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

.ot.left {
    -webkit-transition: transform .7s ease-in-out;
    -webkit-transition: -webkit-transform .7s ease-in-out;
    transition: -webkit-transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out, -webkit-transform .7s ease-in-out;
    transform: translate(-365px, 15px) scale(0.85);
    -webkit-transform: translate(-365px, 15px) scale(0.85);
}

.bubble.left {
    -webkit-transition: transform .7s ease-in-out;
    -webkit-transition: -webkit-transform .7s ease-in-out;
    transition: -webkit-transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out, -webkit-transform .7s ease-in-out;
    transform: translate(-378px, 34px) scale(0.95);
    -webkit-transform: translate(-378px, 34px) scale(0.95);
}

.logo.left {
    -webkit-transition: transform .7s ease-in-out;
    -webkit-transition: -webkit-transform .7s ease-in-out;
    transition: -webkit-transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out, -webkit-transform .7s ease-in-out;
    transform: translate(-387px, -8px) scale(0.85);
    -webkit-transform: translate(-387px, -8px) scale(0.85);
}

.logo-min.left {
    -webkit-transition: transform .7s ease-in-out;
    -webkit-transition: -webkit-transform .7s ease-in-out;
    transition: -webkit-transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out, -webkit-transform .7s ease-in-out;
    transform: translate(-341px, -24px);
    -webkit-transform: translate(-341px, -24px);
}

.ot-text.left {
    -webkit-transition: transform .7s ease-in-out;
    -webkit-transition: -webkit-transform .7s ease-in-out;
    transition: -webkit-transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out, -webkit-transform .7s ease-in-out;
    transform: translate(-341px, -24px);
    -webkit-transform: translate(-341px, -24px);
}

.screen.left {
    -webkit-transition: transform .7s ease-in-out;
    -webkit-transition: -webkit-transform .7s ease-in-out;
    transition: -webkit-transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out, -webkit-transform .7s ease-in-out;
    transform: translate(-365px, 15px) scale(0.85);
    -webkit-transform: translate(-365px, 15px) scale(0.85);
}

@-webkit-keyframes signal {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.signal, .signal-dot {
    opacity: 0;
}

.signal.active {
    -webkit-animation-name: signal;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes signal-dot {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.signal-dot.active {
    -webkit-animation-name: signal-dot;
    -webkit-animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
}
/*.s1 {-webkit-animation-duration: 1.2s;}*/
/*.s2 {-webkit-animation-duration: .8s;}*/
/*.s3 {-webkit-animation-duration: .4s;}*/
.signal-wrap {
    opacity: 0;
}

.phone {
    opacity: 0;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    top: 40px;
    left: -10px;
    -webkit-transition: transform .4s ease-in-out, opacity .4s linear;
    -webkit-transition: opacity .4s linear, -webkit-transform .4s ease-in-out;
    transition: opacity .4s linear, -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out, opacity .4s linear;
    transition: transform .4s ease-in-out, opacity .4s linear, -webkit-transform .4s ease-in-out;
}

.phone.active {
    opacity: 1;
    -webkit-transition-delay: .8s;
    transition-delay: .8s;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

.phone-screen {
    opacity: 0;
}

.text {
    opacity: 0;
}

.ot-info {
    opacity: 0;
}