#slide_OT_EU_PB_a_27_background {
    left: 0px;
    top: 0px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
    width: 1024.00px;
    height: 768.00px;
}

#slide_OT_EU_PB_a_27_layer_3 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_27/slide_OT_EU_PB_a_27_layer_3.png?v=1029193756740);
    position: absolute;
    top: 0.00px;
    left: 0.00px;
    width: 1024.00px;
    height: 768.00px;
}

#slide_OT_EU_PB_a_27_layer_4 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_27/slide_OT_EU_PB_a_27_layer_4.png?v=1029193756740);
    position: absolute;
    top: 622.00px;
    left: 0.00px;
    width: 358.50px;
    height: 146.00px;
}

#slide_OT_EU_PB_a_27_layer_6 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_27/slide_OT_EU_PB_a_27_layer_6.png?v=1029193756740);
    position: absolute;
    top: 684.00px;
    left: 729.00px;
    width: 232.50px;
    height: 57.50px;
}

#slide_OT_EU_PB_a_27_layer_8 {
    position: absolute;
    top: 236px;
    left: 69.74px;
    text-align: left;
   font-family: MuseoSans-300;
    font-size: 20px;
    line-height: 1.13;
    color: #3d4556;
}

#slide_OT_EU_PB_a_27_layer_9 {
    position: absolute;
    top: 450px;
    left: 69.70px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 20px;
    line-height: 1.13;
    color: #3d4556;
}

#slide_OT_EU_PB_a_27_layer_12 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_27/slide_OT_EU_PB_a_27_layer_12.png?v=1029193756740);
    position: absolute;
    top: 280.00px;
    left: 159.50px;
    width: 716.50px;
    height: 42.00px;
}

#slide_OT_EU_PB_a_27_layer_13 {
    background-size: 716px 100%;
    background-image: url(../images/OT_EU_PB_a_27/slide_OT_EU_PB_a_27_layer_13.png?v=1029193756740);
    position: absolute;
    top: 280.00px;
    left: 159.50px;
    height: 42.00px;
}

#slide_OT_EU_PB_a_27_layer_15 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_27/slide_OT_EU_PB_a_27_layer_15.png?v=1029193756740);
    position: absolute;
    top: 269.00px;
    left: 139.00px;
    width: 59.00px;
    height: 64.00px;
}

#slide_OT_EU_PB_a_27_layer_16 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_27/slide_OT_EU_PB_a_27_layer_16.png?v=1029193756740);
    position: absolute;
    top: 352.50px;
    left: 164.50px;
    width: 705.50px;
    height: 11.00px;
}

#slide_OT_EU_PB_a_27_layer_20 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_27/slide_OT_EU_PB_a_27_layer_20.png?v=1029193756740);
    position: absolute;
    top: 534.00px;
    left: 159.50px;
    width: 716.50px;
    height: 42.00px;
}

#slide_OT_EU_PB_a_27_layer_21 {
    background-size: 716px 100%;
    background-image: url(../images/OT_EU_PB_a_27/slide_OT_EU_PB_a_27_layer_21.png?v=1029193756740);
    position: absolute;
    top: 534.00px;
    left: 159.50px;
    height: 42.00px;
}

#slide_OT_EU_PB_a_27_layer_23 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_27/slide_OT_EU_PB_a_27_layer_23.png?v=1029193756740);
    position: absolute;
    top: 523.00px;
    left: 139.00px;
    width: 59.00px;
    height: 64.00px;
}

#slide_OT_EU_PB_a_27_layer_24 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_27/slide_OT_EU_PB_a_27_layer_24.png?v=1029193756740);
    position: absolute;
    top: 606.50px;
    left: 164.50px;
    width: 725.00px;
    height: 11.00px;
}

#slide_OT_EU_PB_a_27_layer_26 {
    position: absolute;
    top: 85px;
    left: 70.17px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 38.00px;
    line-height: 1.11;
    color: #77bc1f;
}

#slide_OT_EU_PB_a_27_layer_29 {
    position: absolute;
    top: 158.50px;
    left: 738.47px;
    font-family: MuseoSans-700;
    font-size: 32.00px;
    line-height: 1.2;
    color: #3d4456;
}

#slide_OT_EU_PB_a_27_layer_30 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_27/slide_OT_EU_PB_a_27_layer_30.png?v=1029193756740);
    position: absolute;
    top: 249.00px;
    left: 741.00px;
    width: 247.50px;
    height: 313.50px;
}

#slide_OT_EU_PB_a_27_layer_31 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_27/slide_OT_EU_PB_a_27_layer_31.png?v=1029193756740);
    position: absolute;
    top: 366.00px;
    left: 682.00px;
    width: 36.50px;
    height: 36.50px;
}

#slide_OT_EU_PB_a_27_layer_34 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_27/slide_OT_EU_PB_a_27_layer_34.png?v=1029193756740);
    position: absolute;
    top: 111.50px;
    left: 959.50px;
    width: 64.50px;
    height: 586.00px;
}

#slide_OT_EU_PB_a_27_layer_35 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_27/slide_OT_EU_PB_a_27_layer_35.png?v=1029193756740);
    position: absolute;
    top: 366.00px;
    left: 979.00px;
    width: 36.50px;
    height: 36.50px;
}

#slide_OT_EU_PB_a_27_layer_38 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_27/slide_OT_EU_PB_a_27_layer_38.png?v=1029193756740);
    position: absolute;
    top: 669.00px;
    left: 55.50px;
    width: 86.00px;
    height: 86.50px;
}

#slide_OT_EU_PB_a_27_layer_39 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_27/slide_OT_EU_PB_a_27_layer_39.png?v=1029193756740);
    position: absolute;
    top: 669.00px;
    left: 204.50px;
    width: 86.00px;
    height: 86.50px;
}

#slide_OT_EU_PB_a_27_layer_40 {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_27/slide_OT_EU_PB_a_27_layer_40.png?v=1029193756740);
    position: absolute;
    top: 669.00px;
    left: 130.00px;
    width: 86.00px;
    height: 86.50px;
}

.form-wrap {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_27/slide_OT_EU_PB_a_27_layer_28.png?v=1029193756740);
    position: absolute;
    top: 88.50px;
    left: 662.50px;
    width: 361.50px;
    height: 592.00px;
    transform: translateX(297px);
    -webkit-transform: translateX(297px);
    -webkit-transition: -webkit-transform .4s ease-in-out;
    transition: -webkit-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.form-wrap.active {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
}

.form-title {
    position: absolute;
    top: 50px;
    left: 76px;
    font-family: MuseoSans-700;
    font-size: 32.00px;
    line-height: 1.2;
    color: #3d4456;
}

.form-bg {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_27/slide_OT_EU_PB_a_27_layer_30.png?v=1029193756740);
    position: absolute;
    top: 141.00px;
    left: 79px;
    width: 247.50px;
    height: 313.50px;
}

.form-btn {
    background-size: 100% 100%;
    background-image: url(../images/OT_EU_PB_a_27/slide_OT_EU_PB_a_27_layer_31.png?v=1029193756740);
    position: absolute;
    top: 258.00px;
    left: 20.00px;
    width: 36.50px;
    height: 36.50px;
}

.fill-1, .fill-2 {
    width: 0;
}

#form-area {
    position: absolute;
    top: 105px;
    left: 79px;
    width: 247.50px;
    height: 349.5px;
    text-align: left;
    font-family: MuseoSans-300;
    font-size: 23.00px;
    line-height: 45px;
    color: #3d4556;
    background: none;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    resize: none;
}

.rank1 {
    position: relative;
    top: 32px;
}

.rank2 {
    position: relative;
    top: -15px;
}